---
title: 404 Not Found
layout: base
---
%h1 Page not found

%p We can't seem to find that page.  Things may have shifted around during shipping, so it might be best to just start back at <a href="#{site.base_url}/index.html">the top of the site</a> and poke around for whatever it is you're looking for.

%h3 Other things to try:

%form{ :class=>'form-search', :method=>'GET', :action=>'search.html' }
  %fieldset
    %input{ :type=>'text', :name=>'q', :id=>'search-query', :size=>'40', :placeholder=>'Type something ..' }
    %button{ :class=>'btn btn-primary', :type=>'submit', } Google Search

:javascript
  var searchQueryField = document.getElementById('search-query')
  if (searchQueryField) {
    searchQueryField.focus();
    if (document.referrer) {
      var referrer = document.referrer;
      referrer = decodeURI(referrer).replace(/^[^\/]*\/\/[^\/]+/, '').replace(/(((\/index)?\.[^\.]+|[A-Z][a-z]+Home)$)/, '').replace(/[^-_a-z0-9]/ig, ' ').replace(/\s+/g, ' ').trim();
      searchQueryField.value = referrer;
    }
  }

