---
title: 404 Not Found
layout: base
---
%h1 Page not found

%p We can't seem to find that page.  Things may have shifted around during shipping, so it might be best to just start back at <a href="#{site.base_url}/index.html">the top of the site</a> and poke around for whatever it is you're looking for.

%h3 Other things to try:

%form{ :class=>'form-search', :method=>'GET', :action=>"#{site.base_url}/search.html", :onsubmit=>'return validate404SearchQuery()' }
  %fieldset
    %input{ :type=>'text', :name=>'q', :id=>'404-search-query', :size=>'40', :placeholder=>'Type something ..' }
    %button{ :class=>'btn btn-primary', :type=>'submit', } Google Search

:javascript
  var searchQueryField = document.getElementById('404-search-query')
  if (searchQueryField) {
    searchQueryField.focus();
    var brokenUrl = window.location.href;
    if (brokenUrl.indexOf('/404.html') < 0) {
      brokenUrl = decodeURI(brokenUrl).replace(/^[^\/]*\/\/[^\/]+/, '').replace(/(((\/index)?\.[^\.]+|[A-Z][a-z]+Home)$)/, '').replace(/[^-_a-z0-9]/ig, ' ').replace(/\s+/g, ' ').trim();
      searchQueryField.value = brokenUrl;
    }
  }

