---
layout: base
title: Get Involved
---
.jumbotron
  .container
    %p
      Getting involved with the Netty community is easier than you think.
      %br
      %em Tell us what you think, and open the future of network programming.

.container
  .row
    .col-md-9
      #main-content
        %h3 Post questions

        %p We use <a href="http://stackoverflow.com/questions/tagged/netty">StackOverflow</a> as the place to ask the questions. Just tag your question with '<strong>netty</strong>', and then we will respond.

        %h3 Stay tuned &amp; spread the words

        %p Follow <a href="https://twitter.com/netty_project">@netty_project</a> at Twitter, mention us, and use the '<a href="#{site.twitter_search_url}"><strong>#netty</strong></a>' hash­tag. Subscribe to <a href="http://feeds.feedburner.com/netty_project">our RSS feed</a> to get useful information. If you are interested in how we work with code, watch <a href="https://github.com/netty/netty">our Github repository</a>.

        %p Even better, if you are in the mood of writing something longer, think about writing <a href="../wiki/RelatedArticles.html">an article about Netty</a> and let us know.

        %h3 Report bugs &amp; security issues

        %p Found a bug? Browse <a href="https://github.com/netty/netty/issues">our issue tracker</a> and file an issue if it was not reported before. Get back and let us know if it's fixed.

        %p If you think the bug you found is likely to make Netty-based applications vulnerable to an attack, please do not use our public issue tracker but report it to <a href="https://groups.google.com/d/forum/netty-security">the dedicated private Google Group</a>.

        %h3 Commit your code

        %p It's all open source! Netty is hosted at <a href="https://github.com/netty/netty">Github</a>. Feel free to fork it, issue a pull request, and join the discussion. We also have a <a href="https://groups.google.com/d/forum/netty">Google Group</a> for the topics that need a broader discussion. If your contribution is not trivial, you will have to sign up the <a href="https://docs.google.com/spreadsheet/viewform?formkey=dHBjc1YzdWhsZERUQnhlSklsbG1KT1E6MQ">Contributor License Agreement (CLA)</a>. Before working with Netty source code, you might want to read <a href="../wiki/developer-guide.html">the developer guide</a>.

        %h3 Sponsor us

        %p You or your company can also donate the resources we need for sustainable development of the project, such as fund to cover our hosting cost, heart-warming gift, and software license. The current donors include:

        %ul
          %li <a href="http://www.jetbrains.com/">JetBrains</a> - <a href="http://www.jetbrains.com/idea/">IntelliJ IDEA</a> Ultimate Edition
          %li <a href="http://www.yourkit.com/">YourKit</a> is kindly supporting open source projects with its full-featured Java Profiler. YourKit, LLC is the creator of innovative and intelligent tools for profiling Java and .NET applications. Take a look at YourKit's leading software products: <a href="http://www.yourkit.com/java/profiler/index.jsp">YourKit Java Profiler</a> and <a href="http://www.yourkit.com/.net/profiler/index.jsp">YourKit .NET Profiler</a>.

    .col-md-3
      #twitter-timeline
        <a class="twitter-timeline"  href="https://twitter.com/netty_project"  data-widget-id="412058459593383936">Tweets by @netty_project</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

