---
layout: jumbotronless
title: Donate to us
---
.row
  .col-md-9
    #main-content
      %h1 Donate to us

      .alert.alert-info
        %strong Who donated so far?
        None at the moment, because we've just started to accept a donation.
        We will update the list periodically.

      %p
        Since it was started by Trustin Lee in late-2001 when he was a junior at university, Netty project has always
        been a highly organic volunteer-based community-driven project. We are very happy and proud to see the project
        flourishes all thanks to the healthy community around it.

      %p
        Looking its history back, however, it wasn't always a golden age for us.  We used to finance the activities
        and infrastructures for the project from our personal wallet (and we sometimes do that even these days.)
        It is also very painful to realize that we can never afford the high-end environment where we can push Netty
        to its limit, ending up with having no other choices than just leaving the many potential rooms for
        improvement as they are.

      %p
        What if we can change this <i>together?</i>

      %h2 What is in need of?

      %p
        Although it's not an exhaustive list, you will get an idea from the following list:

        %ul
          %li
            the infrastructure where all volunteers from different companies can work together, such as:
            %ul
              %li 
                a high-performance computing cluster interconnected via extremely high-bandwidth network
              %li
                a continuous integration service with non-virtualized slaves on different operating systems
          %li
            the financial support and/or logistics for the project-related activities, such as:
            %ul
              %li
                speaking in a conference
              %li
                hosting a core developer meet-up or hack-week which may involve air travel and extended stay
          %li
            the software that improves the development efficiency, such as:
            %ul
              %li
                an integrated development environment (IDE)
              %li
                a code quality or performance analysis tool

      %h2 Are you interested?

      %p
        If so, you need to consider that we have NO backing legal entity.  Your donation will NOT be tax-deductible.
        At our team size, the overhead of running a non-profit organization outweighs its benefit.
        If our team gets big enough or we receive unbelievable amount of sustainable donations,
        we might found a real non-profit organization, or join one.

      %p
        (This is probably where you have to take a leap of faith.)
        Therefore, financial donations will go to Trustin's PayPal account.
        Of course, he will manage the account in good faith and never spend the donations for anything unrelated.

      %p
        Alternatively, for example, you could consider paying on behalf of us.
        Please let us know if you have a better idea.

      %h2 How to donate
      
      %p
        Please use the form below to donate fund via PayPal, or
        contact <a href="mailto:t@motd.kr">t@motd.kr</a> if you wish to discuss the detail.
        
      %h2 Donating via PayPal
      
      %form#donation-form-onetime.hidden{ :action=>'https://www.paypal.com/us/cgi-bin/webscr', :method=>'POST' }
        %input{ :type=>'hidden', :name=>'cmd', :value=>'_xclick' }
        %input{ :type=>'hidden', :name=>'business', :value=>'t+netty_donations@motd.kr' }
        %input{ :type=>'hidden', :name=>'currency_code', :value=>'USD' }
        %input{ :type=>'hidden', :name=>'no_shipping', :value=>'1' }
        %input{ :type=>'hidden', :name=>'item_name', :value=>'' }
        %input{ :type=>'hidden', :name=>'amount', :value=>'' }
        %input{ :type=>'hidden', :name=>'on0', :value=>'Name' }
        %input{ :type=>'hidden', :name=>'os0', :value=>'' }
        %input{ :type=>'hidden', :name=>'on1', :value=>'Visibility' }
        %input{ :type=>'hidden', :name=>'os1', :value=>'' }

      %form#donation-form-recurring.hidden{ :action=>'https://www.paypal.com/us/cgi-bin/webscr', :method=>'POST' }
        %input{ :type=>'hidden', :name=>'cmd', :value=>'_xclick-subscriptions' }
        %input{ :type=>'hidden', :name=>'business', :value=>'t+netty_donations@motd.kr' }
        %input{ :type=>'hidden', :name=>'currency_code', :value=>'USD' }
        %input{ :type=>'hidden', :name=>'no_shipping', :value=>'1' }
        %input{ :type=>'hidden', :name=>'item_name', :value=>'' }
        %input{ :type=>'hidden', :name=>'a3', :value=>'' }
        %input{ :type=>'hidden', :name=>'p3', :value=>'' }
        %input{ :type=>'hidden', :name=>'t3', :value=>'M' }
        %input{ :type=>'hidden', :name=>'src', :value=>'1' }
        %input{ :type=>'hidden', :name=>'sra', :value=>'1' }

      %form#donation-form.form{ :role=>'form', :action=>'javascript:void(0);' }
        .form-group.has-feedback
          %label.control-label Type of donation
          .radio
            %label
              %input#donation-type-onetime{ :type=>'radio', :name=>'donation-type', :value=>'onetime', :checked=>true }
              One-time
          .radio
            %label
              %input#donation-type-recurring{ :type=>'radio', :name=>'donation-type', :value=>'recurring' }
              Recurring:
            Bill every
            %input#donation-frequency.form-control.input-sm{ :type=>'text', :value=>'1', :style=>'display: inline !important; max-width: 4em; text-align: center; padding-left: 4px; padding-right: 4px;' }
            month(s).
        .form-group.has-feedback
          %label.control-label{ :for=>'donor-name' } Name of the donor
          %input#donor-name.form-control{ :type=>'text', :placeholder=>'e.g. Jane Doe, janeD_99, @janedoe, Anonymous' }
          %p.help-block
            Enter your name, nickname, or @twitterhandle. If you wish to remain anonymous, enter 'Anonymous'.
        .form-group.has-feedback
          %label.control-label{ :for=>'donation-amount' } Amount of donation:
          .input-group
            #donation-amount-unit.input-group-addon ...
            %input#donation-amount.form-control{ :type=>'text', :name=>'amount', :placeholder=>'e.g. 100.00' }
        .form-group
          %label.control-label{ :for=>'donation-visibility' } Visibility of donation:
          %select#donation-visibility.form-control
            %option{ :value=>'all ' } Show name and amount in the donor list.
            %option{ :value=>'name-only' } Show only name in the donor list.
            %option{ :value=>'none' } Hide from the donor list.
          %p.help-block
            If you entered 'Anonymous' in the name field, your name in the donor list will be 'Anonymous'.
        .form-group
          %button#donate-button.btn.btn-primary{ :type=>'submit' } Donate with PayPal

  .col-md-3
    = site.default_sidebar

