---
layout: jumbotronless
title: Downloads
---

%h1.bintraypromo
  Downloads
  %a{:href=>'http://www.bintray.com'}
    %img{:src=>'http://bintray.com/docs/images/poweredByBintray_ColorTransparent.png', :width=>'90', :height=>'50'}
  
%p Netty is distributed under <a href="http://www.tldrlegal.com/l/APACHE2">Apache License, v2.0</a>. Please see the en­closed <tt>NOTICE.txt</tt> for more information.

%ul
  - for r in site.releases
    - if r.version.start_with?("3.")
      - r.filename = 'netty-' + r.version + '-dist.tar.bz2'
    - else
      - r.filename = 'netty-' + r.version + '.tar.bz2'
    %li
      %a{ :href=>"http://dl.bintray.com/netty/downloads/#{r.filename}" } <tt>#{r.filename}</tt>
      %small &dash; #{r.date}

%p <a href="https://github.com/netty/netty/issues/milestones?state=closed">Changelogs</a> and <a href="https://github.com/netty/netty/issues/milestones?state=open">road map</a> are available in our issue tracker.

%h3 Dependencies

%p Please note that Netty has <em>no mandatory external dependencies</em>. JDK 1.5 (1.6 for Netty 4.x) or above is all that you need to run Netty.

%h3 Getting notified on a new release

%p You can either subscribe to <a href="../news/index.html">our official blog</a> or follow <a href="https://twitter.com/netty_project">@netty_project</a> at Twitter.

%h3 Downloading from the Maven central repository

%p Add the following dependency section to your <tt>pom.xml</tt>:

%pre.brush:xml
  :escaped
    <dependencies>
      ...
      <dependency>
        <groupId>io.netty</groupId>
        <artifactId>netty</artifactId> <!-- Use 'netty-all' for 4.0 or above -->
        <version>X.Y.Z.Q</version>
        <scope>compile</scope>
      </dependency>
      ...
    </dependencies>

%h3 Previous releases

%p All previous releases can be downloaded from <a href="https://bintray.com/netty/downloads/netty/">here</a>.

%h3 Nightly builds

%p Nightly builds can be found at <a href="http://ci.motd.kr/view/Netty/">our CI server</a>. You can also pull the latest snapshots from <a href="https://oss.sonatype.org/content/repositories/snapshots/">Sonatype OSS Maven repository</a>.

