---
layout: base
title: Home
---

.jumbotron
  .container
    %p
      Netty is
      %em an asynchronous event-driven network application framework
      %br
      for rapid development of maintainable high performance protocol servers &amp; clients.

.container
  .pull-right.hidden-xs.hidden-sm
    %img{ :src=>'../images/components.png', :style=>'margin-top: -32px; margin-right: -36px;' }
  .hidden-md.hidden-lg
    %img.img-responsive{ :src=>'../images/components.png', :style=>'margin: -32px auto 0px auto;' }

  %p Netty is a NIO client server framework which enables quick and easy development of network applications such as protocol servers and clients. It greatly simplifies and streamlines network programming such as TCP and UDP socket server.

  %p 'Quick and easy' doesn't mean that a resulting application will suffer from a maintainability or a performance issue. Netty has been designed carefully with the experiences earned from the implementation of a lot of protocols such as FTP, SMTP, HTTP, and various binary and text-based legacy protocols. As a result, Netty has succeeded to find a way to achieve ease of development, performance, stability, and flexibility without a compromise.

  %h2 Features

  %h3 Design

  %ul
    %li Unified API for various transport types - blocking and non-blocking socket
    %li Based on a flexible and extensible event model which allows clear separation of concerns
    %li Highly customizable thread model - single thread, one or more thread pools such as SEDA
    %li True connectionless datagram socket support (since 3.1)

  %h3 Ease of use

  %ul
    %li Well-documented Javadoc, user guide and examples
    %li No additional dependencies, JDK 5 (Netty 3.x) or 6 (Netty 4.x) is enough

  %h3 Performance

  %ul
    %li Better throughput, lower latency
    %li Less resource consumption
    %li Minimized unnecessary memory copy

  %h3 Security

  %ul
    %li Complete SSL/TLS and StartTLS support

  %h3 Community

  %ul
    %li Release early, release often
    %li The author has been writing similar frameworks since 2003 and he still finds your feed back precious!

