---
title: 404 Not Found
layout: empty
---
:javascript
  var queryPos = window.location.href.indexOf('?q=');
  if (queryPos >= 0) {
    var query = window.location.href.substring(queryPos + 3);
    if (query.length > 0) {
      window.location.href = 'https://www.google.com/search?q=netty%20' + query + '&hl=en&ie=UTF-8';
    }
  }

