---
layout: news-item
title: 'To use SLF4J or not, that is the question'
author: trustin
disqus_identifier: 1717291725751567689
---

:plain
  <div class="entry-content">
  <p><em>UPDATE</em>: It's noteworthy that the logging layer we are discussing on is not part of user API. That is, it's not intended for use by users but by developer (committer).</p>
  <p>There was recently <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues/64">a discussion</a></span> in the community about whether we should switch from our own logging layer to something else such as <span class="wikiexternallink"><a href="http://www.slf4j.org/">SLF4J</a></span> or java.util.logging in Netty 4. The following is the list of the options we discussed and the related opinions:</p>
  <ul>
  <li>Keep the current thin logging layer and modernize it so that it's as easy to use as SLF4J.<ul>
  <li>Why: Zero dependency. Netty itself does not log very much.</li>
  <li>Drawback: It doesn't make much sense to have a logging layer. Netty should focus on I/O.</li>
  </ul>
  </li>
  <li>Use SLF4J.<ul>
  <li>Why: A lot of open source libraries already use SLF4J. Nice API. Zero dependency is not really a problem because your application's classpath will probably have SLF4J anyway because other open source libraries you depend on use it.</li>
  <li>Drawback: Non-zero API. People not familiar with setting up SLF4J might have difficulties to run their first Netty application.</li>
  </ul>
  </li>
  <li>Use java.util.logging.<ul>
  <li>Why: Zero dependency. Netty doesn't need to provide a logging layer.</li>
  <li>Drawback: Unfriendly API. jul-to-SLF4J bridge has <span class="wikiexternallink"><a href="http://www.slf4j.org/legacy.html#jul-to-slf4j">very poor performance</a></span>.</li>
  </ul>
  </li>
  </ul>
  <p>We are probably not going to choose java.util.logging, but we are undecided whether we should switch to SLF4J or not. What is your opinion? It is very likely for us to respect your comments as much as possible for decision making, so please feel free to leave a comment so that we listen to you and understand what you value more!</p>
  </div>
