---
layout: news-item
title: 'Netty 3.2.7 released'
author: trustin
disqus_identifier: 7803775842547582056
---

:plain
  <div class="entry-content">
  <p>The Netty project team is proud to announce Netty 3.2.7.</p>
  <p>The JAR file has been uploaded to JBoss.org Maven repository, and it's going to be propagated to the central repository soon. You can also get the full tarball from <span class="wikilink"><a href="/Main/Downloads">the download page</a></span>.</p>
  <p>For the detailed list of the changes, please refer to <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues?milestone=1&amp;state=closed">the issue tracker page</a></span>.</p>
  <p>Looking back, it was a very exciting iteration. I granted push permission to various people who sent high-quality pull requests frequently, and I believe it leads us to faster yet open and sustainable development of the project. I'd like to appreciate everyone involved into this effort for their faith on the project and myself.</p>
  <p>If you didn't have a chance to <span class="wikilink"><a href="/Main/Get+Involved">contribute</a></span>, it's better late than never. Actually, you can contribute a lot more than you think!</p>
  </div>
