---
layout: news-item
title: 'Additional update on the new web site'
author: trustin
disqus_identifier: 5141893513386736180
---

:plain
  <div class="entry-content">
  <p>Recently we announced our new web site at <span class="wikiexternallink"><a href="http://netty.io/">http://netty.io/</a></span> but Red Hat have informed me that there are some outstanding issues related to the migration. As such we've been requested to move back to the original site at <span class="wikiexternallink"><a href="http://jboss.org/netty/">http://jboss.org/netty/</a></span> until these have been addressed. I apologize for any confusion caused.</p>
  <p>Hopefully we will be able to continue using <span class="wikiexternallink"><a href="http://stackoverflow.com/questions/tagged/netty">StackOverflow</a></span> and <span class="wikiexternallink"><a href="https://groups.google.com/d/forum/netty">Google Groups</a></span> as the Netty community agreed.</p>
  </div>
