---
layout: news-item
title: 'Netty 3.4.0.Final released!'
author: trustin
disqus_identifier: 7113967620806348773
---

:plain
  <div class="entry-content">
  <p>The Netty project team is proud to announce the final release of Netty 3.4.0.</p>
  <p>The JAR file is already on <span class="wikiexternallink"><a href="http://search.maven.org/#artifactdetails%7Cio.netty%7Cnetty%7C3.4.0.Final%7Cbundle">Maven central repository</a></span>. You can also get the full tarball from <span class="wikilink"><a href="http://netty.io/downloads.html">the download page</a></span>.</p>
  <p>This version contains a handful bugfixes compared to the previous 3.4.0.Beta1 release.</p>
  <p>Here are the changes that are most import compared to 3.4.0.Beta1:</p>
  <ul>
  <li>Implement Websocket close frame status code and reason text. See the <span class="wikiexternallink"><a href="http://tools.ietf.org/html/rfc6455#section-5.5.1">rfc6455</a></span>.</li>
  <li>Remove of Redis codec which will be part of 4.0.0.</li>
  <li>HttpClientCodec now throws a PrematureChannelClosureException if the connection gets closed before all responses for all sent requests are received. Before we did not notify the user about it, so if you are not interested in this you will need to ignore this exception in your exception handling code.</li>
  </ul>
  <p>For the detailed list of the changes, please refer to <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues?sort=created&amp;direction=desc&amp;state=closed&amp;page=1&amp;milestone=7">the issue tracker page</a></span>.</p>
  </div>
