---
layout: news-item
title: "Say 'Hello' to Netty 3.5.3.Final"
author: normanmaurer
disqus_identifier: 4310190544142217817
---

:plain
  <div class="entry-content">
  <div class="entry-summary">
  <p>Only a few weeks after the last release, the Netty project team is proud to announce another bugfix release out of the 3.5.x Series. Netty 3.5.3.Final comes with many bugfixes, so please consider upgrading as soon as possible.</p>
  <p>Check out our <span class="wikiexternallink"><a title="Netty Issue Tracker" href="https://github.com/netty/netty/issues?milestone=20&amp;page=1&amp;state=closed">issue tracker</a></span> for a full description of all of them.</p>
  <p>The JAR file can be found on <span class="wikiexternallink"><a href="http://search.maven.org/#artifactdetails%7Cio.netty%7Cnetty%7C3.5.3.Final%7Cjar">Maven Central</a></span> as usually. Beside this you can also get the full tarball from <span class="wikiexternallink"><a href="https://netty.io/Main/Downloads">the download page</a></span>.</p>
  <p>Please let us know if you find any issues, in the meantime have fun develop via Netty.</p>
  <p>Enjoy!</p>
  </div>
  </div>
