---
layout: news-item
title: 'Sneak Peek of Netty 4.0 through Examples'
author: trustin
disqus_identifier: 6541815759333465777
---

:plain
  <div class="entry-content">
  <p>Interested in the recent progress of Netty 4.0.0.Alpha1? If you did not have a chance to keep track of the recent massive API changes in the master, you might want to start from <span class="wikiexternallink"><a href="https://github.com/netty/netty/tree/master/example/src/main/java/io/netty/example">the examples I have just forward-ported</a></span>.</p>
  <p>The migration guide will be out and explain the new concepts and changes in 4.0, but basically you will find the code looks similar in most examples. For the rough list of changes in 4.0, please read <span class="wikiexternallink"><a href="https://groups.google.com/d/topic/netty/PFhK9oFRpvA">this</a></span> and <span class="wikiexternallink"><a href="https://groups.google.com/d/topic/netty/6dTbdXmHvD0">this</a></span>.</p>
  <p>I would recommend you to load the whole project into your IDE and enjoy easier navigation. It does not build completely yet, but you can run many of the examples such as HTTP and WebSockets by yourself if your IDE allows running a project with compilation errors (Eclipse does.)</p>
  <p>If you feel like participating into what is happening in Netty 4.0, it is really good time to join <span class="wikiexternallink"><a href="https://groups.google.com/d/forum/netty">the developer group</a></span> to give a quick feed back, ask questions, and suggest an idea. We are going to release the first alpha pretty soon!</p>
  </div>
