---
layout: news-item
title: 'Netty 3.4.2.Final released!'
author: trustin
disqus_identifier: 6851590629128896795
---

:plain
  <div class="entry-content">
  <p>The Netty project team is proud to announce the final release of Netty 3.4.2. This is a bugfix-only release of the 3.4.x series.</p>
  <p>The JAR file can be found on <span class="wikiexternallink"><a href="http://search.maven.org/#artifactdetails%7Cio.netty%7Cnetty%7C3.4.2.Final%7Cbundle">Maven central repository</a></span>. You can also get the full tarball from <span class="wikilink"><a href="../../../../downloads.html">the download page</a></span>.</p>
  <p>This release includes an important change that allows to specify a maximum frame size for the <span class="wikiexternallink"><a href="http://netty.io/3.5/api/org/jboss/netty/handler/codec/http/websocketx/package-summary.html">WebSocket <tt>FrameDecoder</tt>s</a></span>. This helps to prevent DOS attacks and should be used in all cases as it has security impacts. See <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues/283">#283</a></span> for more information. Everyone who uses Netty WebSockets implementation should upgrade as soon as possible and change his code base to enforce a limit.</p>
  <p>An other important improvement is the memory-usage optimization of the <span class="wikiexternallink"><a href="http://netty.io/3.5/api/org/jboss/netty/handler/codec/replay/ReplayingDecoder.html"><tt>ReplayingDecoder</tt></a></span> and <span class="wikiexternallink"><a href="http://netty.io/3.5/api/org/jboss/netty/handler/codec/frame/FrameDecoder.html"><tt>FrameDecoder</tt></a></span>. This two Decoders are sub-classed by many other Decoders so chances are good that you can benefit from the changes. The used memory of each instance should be down to a minimum now. For more details checkout out <span class="wikiexternallink"><a href="https://github.com/netty/netty/pull/280">#280</a></span>.</p>
  <p>Beside this we had a handful of other bugfixes which are included. For the detailed list of the changes, please refer to <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues?sort=created&amp;direction=desc&amp;state=closed&amp;page=1&amp;milestone=12">the issue tracker page</a></span>.</p>
  </div>
