---
layout: news-item
title: 'Netty 3.6.0.Beta1 - And more to come'
author: normanmaurer
disqus_identifier: 8491681805231969160
---

:plain
  <div class="entry-content">
  <p style="font-family: Ubuntu, 'Liberation Sans', 'Droid Sans', Helvetica, sans-serif; font-size: 14px; font-style: normal; line-height: 19px; ">And another release.... </p>
  <p>Netty 3.6.0.Beta1 ships all the fixes which are are included in <span class="wikiexternallink"><a href="https://netty.io/edit/Blog/Netty+3510Final+%2D+Get+it+while+it+is+hot">Netty 3.5.10.Final</a></span> , but contains one extra enhancement which we felt would be to "heavy" to have it included in the 3.5.x series.</p>
  <p>In Netty 3.6.0.Beta1 we fixed one long standing known limitation that was often a critic of our users. And to be honest they are right, so it was time to fix it <img src="/resources/icons/silk/emoticon_smile.png" class="wikimodel-freestanding" alt="emoticon_smile"></p>
  <p>In the past when you used Netty in Server mode with the NIO-Transport it was needed to have one Thread allocated per bound port. That's not a big deal if you only bind to a handful of ports, but can be just not "feasible" if you plan to bind to thousands of ports.</p>
  <p>So we changed this to allow to share the same Thread for many bound ports. This is done for you automatically without any change needed by you. But it goes further, as you can also specify how many Threads you want use. One is just the default which may work out for you or not, as it depends on the workload.</p>
  <p>To support this we added two new constructors to the NioServerChannelFactory</p>
  <div class="wikimodel-emptyline"></div>
  <script src="https://gist.github.com/4061421.js"></script><p>For more details see <span class="wikiexternallink"><a href="https://github.com/netty/netty/pull/721">[#721]</a></span>.</p>
  <div class="wikimodel-emptyline"></div>
  <p><span style="font-family: Ubuntu, 'Liberation Sans', 'Droid Sans', Helvetica, sans-serif; font-size: 14px; font-style: normal; line-height: 19px; ">The JAR file can be found on <span class="wikiexternallink"><a style="font-family: Ubuntu, 'Liberation Sans', 'Droid Sans', Helvetica, sans-serif; font-size: 14px; font-style: normal; line-height: 19px; " href="http://search.maven.org/#artifactdetails%7Cio.netty%7Cnetty%7C3.6.0.Beta1%7Cjar">Maven Central</a></span> or  you can also get the full tarball from <span class="wikiexternallink"><a style="font-family: Ubuntu, 'Liberation Sans', 'Droid Sans', Helvetica, sans-serif; font-size: 14px; font-style: normal; line-height: 19px; " href="https://github.com/netty/netty/downloads">the download page</a></span>. Whatever you prefer...</span></p>
  <p style="font-family: Ubuntu, 'Liberation Sans', 'Droid Sans', Helvetica, sans-serif; font-size: 14px; font-style: normal; line-height: 19px; ">Please let us know if you have any problems or questions.</p>
  </div>
