---
layout: news-item
title: 'Netty 3.6.0.Final released - Keep on moving'
author: normanmaurer
disqus_identifier: 2622963223460534401
---

:plain
  <div class="entry-content">
  <p>While work is ongoing to get the first beta out for our next major version, we also spend some time to fix bugs and add new features to our current stable tree.  </p>
  <p>And here you get them as part of Netty 3.6.0.Final.</p>
  <p>The release includes bug-fixed, enhancements and also new features. So if you are interested keep reading.</p>
  <p>As there was also a beta release of 3.6.0 before be sure to also read the notes for the beta release to have a complete list of the changes when come from an other release. You can find it in our <span class="wikiexternallink"><a href="../../../2012/11/12/3-6-0-beta1.html">previous blogpost</a></span>.</p>
  <h1 id="HBugfixes"><span><span>Bugfixes</span></span></h1>
  <p>Like said we have a lot of bugfixes in there, here are the most important.</p>
  <ul>
  <li>
  <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues/775">[#775]</a></span> AbstractNioWorker does not exit its event loop when the Executor is not an ExecutorService</li>
  <li>
  <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues/786">[#786]</a></span> WebSocketServerHandshaker* may corrupt first WebSocket frame</li>
  <li>
  <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues/829">[#829]</a></span> <span class="wikiexternallink"><a href="https://github.com/netty/netty/pull/830">[#830]</a></span> Fix a race in SslHandler which lead to handshake failure and other bad side-effects</li>
  </ul>
  <div>
  <h1 id="HNewstuffandimprovements"><span><span>New stuff and improvements</span></span></h1>
  <h2 id="HAddLineBasedFrameDecoder"><span><span>Add LineBasedFrameDecoder</span></span></h2>
  <p>Before when your application had to deal with line based protocols (like SMTP,Telnet etc) you usually used the DelimiterBasedFrameDecoder. This worked but was a big performance hit, as it is just over-designed for this kind of work. </p>
  <p>Lucky enough we received a pull-request which introduced a new FrameDecoder just for  line based protocols which performs a lot better.</p>
  <div class="wikimodel-emptyline"></div>
  <script src="https://gist.github.com/4336161.js"></script>
  </div>
  <p>Check the javadocs for all the constructors of LineBasedFrameDecoder. </p>
  <p>To make it as easy as possible to get the performance improvement we do some conversation from DelimiterBasedFrameDecoder to LineBasedFrameDecoder if it is detected that a user use it with Delimiter.lineDelimiters(). This may get removed in the future so please update your code to use the new LineBaseFrameDecoder if you want to have the performance improvement in the long term <img src="/resources/icons/silk/emoticon_smile.png" class="wikimodel-freestanding" alt="emoticon_smile"></p>
  <p>For more informations on this change see <span class="wikiexternallink"><a href="https://github.com/netty/netty/pull/759">[#759]</a></span></p>
  <h1 id="HSupportWebSocket07"><span><span>Support WebSocket 07</span></span></h1>
  <p>This release add support for WebSocket 07 to also allow to use Netty with old webbrowsers like Firefox 6. Even better you not need to change anything in your code-base. It will just be supported once you upgrade Netty.</p>
  <div class="wikimodel-emptyline"></div>
  <p>Couldn't be easier, heh ?</p>
  <p>For more details please see <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues/751">[#751]</a></span>.</p>
  <h2 id="HAddBossPooltotheparty"><span><span>Add BossPool to the party</span></span></h2>
  <p>Previous it was not possible to share the Boss instances that handle accept and connect operations. So if you needed to create a lot of different NioServerChannelFactory instances (or other NIO based ChannelFactory instances) you ended up with at least one needed Thread and Selector for each of them just for the Boss.</p>
  <p>The can be wasteful and so we adapted the concept that we also used in the WorkerPool. </p>
  <p>Now it is possible to use a BossPool when create them. This can make it a lot more resource friendly if you need to have a lot of them.</p>
  <div class="wikimodel-emptyline"></div>
  <script src="https://gist.github.com/4336546.js"></script><p>Anyway the old way of construct the ChannelFactory instances still work. So if you not want to make use of it and adjust your code just ignore this new feature.</p>
  <div class="wikimodel-emptyline"></div>
  <h2 id="HAllowtoshutdownChannelFactory2CBootstrap2CWorkerPoolandBossPool"><span><span>Allow to shutdown ChannelFactory, Bootstrap, WorkerPool and BossPool </span></span></h2>
  <p>Before there was only one way to "shutdown" a ChannelFactory, Bootstrap, WorkerPool and BossPool. Most of the users just used the releaseExternalResources() for this. But sometimes this is problematic as you not want to release external resources like for example the Executor that is used by the ChannelFactory. For this purpose we now added a new method which is called shutdown(). With this it is possible to only shutdown() the instances and so "release" internal resources while still not affect resources that was passed in.</p>
  <p>This makes it even more flexible to use Netty. For example you could now share the same ThreadPool with Netty and some other Component and not need to worry to affect each other when you not need the ChannelFactory anymore (just an example).</p>
  <div class="wikimodel-emptyline"></div>
  <script src="https://gist.github.com/4336483.js"></script><p>If you not need this you don't need to care of this change as releaseExternalResources() will take care of call shutdown() also. </p>
  <div class="wikimodel-emptyline"></div>
  <p>For more details see <span class="wikiexternallink"><a href="https://github.com/netty/netty/pull/790">[#790]</a></span>.</p>
  <h2 id="HAllowtosetaThreadNameDeterminerperWorkerPoolandBossPool"><span><span>Allow to set a ThreadNameDeterminer per WorkerPool and BossPool</span></span></h2>
  <p>In previous version of Netty it was possible to set a ThreadNameDeterminer which is used for Netty to name your Threads that are used by the Worker and Boss and other places. Unfortunally it was only supported to set it via a static method, so once you change it it is used for all Netty "components" in your Application. This is often not what you want as sometimes you have a Server component and a Client component at the same time and would like to have it named differently to better identify the Threads which belongs to each of them.</p>
  <div class="wikimodel-emptyline"></div>
  <script src="https://gist.github.com/4336406.js"></script><p>Be aware that you can still set a static ThreadNameDeterminer which will just get overridden by the one that is specified in the BossPool and WorkerPool.</p>
  <p>For more details see <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues/771">[#771]</a></span>.</p>
  <div class="wikimodel-emptyline"></div>
  <h2 id="HAllowtospecifyatimeoutforSslHandler.handshake2829"><span><span>Allow to specify a timeout for SslHandler.handshake()</span></span></h2>
  <p>When using SslHandler.handshake() it was impossible to set a timeout for this operation before it will fail. This could lead to the problem that the ChannelFuture which is returned by this operation will be notified only after it was detected that the remote peer is not there anymore. So you could wait for it like "forever" .</p>
  <p>To fix this we added another constructor to SslHandler which allows you to specify and timeout for the handshake operation. If the handshake can not be completed within this time it will fail the handshake and so you get notified. </p>
  <div class="wikimodel-emptyline"></div>
  <script src="https://gist.github.com/4336624.js"></script><p>For more details see <span class="wikiexternallink"><a href="https://github.com/netty/netty/pull/835">[#835]</a></span>.</p>
  <h2 id="HGeneral"><span><span>General</span></span></h2>
  <p>For a complete list of changes please checkout our <span><span class="wikiexternallink"><a href="https://github.com/netty/netty/issues?milestone=36&amp;state=closed">issue tracker</a></span>.  To download Netty, as usual, please visit <span class="wikilink"><a href="../../../../downloads.html">the downloads page</a></span>.</span></p>
  <p>Please let us know if you have any problems or questions.</p>
  </div>
