---
layout: news-item
title: 'Netty 3.5.5.Final released'
author: normanmaurer
disqus_identifier: 5825860352940423700
---

:plain
  <div class="entry-content">
  <p><span>Release often release early!</span></p>
  <p><span>Here comes another bug-fix release out of the 3.5.x Series. It only contains a handful of bugfixes but we felt they are "critical" enough to deserve a quick release. So enjoy...</span></p>
  <div class="wikimodel-emptyline"></div>
  <p>Most notable is the correction of a regression that was introduced in the last release. This effected users that used Netty to set and manipulate Cookies. Check out <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues/533">#533</a></span> and <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues/534">#534</a></span> for more details.</p>
  <p>The other critical fix we made, was to eliminate a potential direct memory leak when using HttpContentEncoder and HttpContentDecoder.  So if you use any of them we highly recommend to upgrade better sooner than later. See <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues/539">#539</a></span> for the full details about this bug.</p>
  <div class="wikimodel-emptyline"></div>
  <p>One "fix" that needs to get explicit enabled is the automatically closing of the Channel if SslHandler is used and an SSLException was caught. This is "disabled" by default to not break Applications that may depend on the old "broken" behavior.</p>
  <p>To enable it just use the new setter method in SslHandler, like shown here.</p>
  <script src="https://gist.github.com/3428315.js"></script><p>Its important to use the setter <strong>before </strong>the SslHandler is add to the ChannelPipeline. Any attempt to change it after that will cause an IllegalStateException. More informations related to this issue can be found  at <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues/160">#160</a></span>.</p>
  <p>For the rest of the fixes please checkout our <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues?milestone=23&amp;state=closed">issue tracker</a></span>. </p>
  <div class="wikimodel-emptyline"></div>
  <p>The JAR file can be found on <span class="wikiexternallink"><a href="http://search.maven.org/#artifactdetails%7Cio.netty%7Cnetty%7C3.5.5.Final%7Cjar">Maven Central</a></span> as usually. Beside this you can also get the full tarball from <span class="wikiexternallink"><a href="http://netty.io/downloads.html">the download page</a></span>.</p>
  <p>Feedback as always welcome.</p>
  <p>Enjoy!</p>
  </div>
