---
layout: news-item
title: 'Netty 3.5.2.Final is out'
author: normanmaurer
disqus_identifier: 1859345903203357503
---

:plain
  <div class="entry-content">
  <p>The Netty project team is proud to announce Netty 3.5.2.Final, the second bug-fix release of the 3.5.x series.</p>
  <p>The JAR file is already on <span class="wikiexternallink"><a href="http://search.maven.org/#artifactdetails%7Cio.netty%7Cnetty%7C3.5.2.Final%7Cbundle">Maven Central</a></span>. You can also get the full tarball from <span class="wikiexternallink"><a href="https://netty.io/Main/Downloads">the download page</a></span>.</p>
  <p>Beside bugfixes this version also ships more optimizations to save byte-copies when ever possible. This results in very notable speed-improvement. So if you are concerned about speed just give it a spin.</p>
  <p>For the detailed list of the changes, please refer to <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues?milestone=19&amp;state=closed">the issue tracker</a></span>.</p>
  <p>Enjoy!</p>
  </div>
