---
layout: news-item
title: 'Netty 3.4.0.Beta1 released!'
author: trustin
disqus_identifier: 4482684197451355832
---

:plain
  <div class="entry-content">
  <p>The Netty project team is proud to announce the first beta release of Netty 3.4.0. Please note that it is a beta release, so you might need to test it thoroughly before putting it into production. We hope that this will be the last and only beta release of the 3.4.0 series before we cut a final release.</p>
  <p>The JAR file is already on <span class="wikiexternallink"><a href="http://search.maven.org/#artifactdetails%7Cio.netty%7Cnetty%7C3.4.0.Beta1%7Cbundle">Maven central repository</a></span>. You can also get the full tarball from <span class="wikilink"><a href="http://netty.io/downloads.html">the download page</a></span>.</p>
  <p>This version contains only bugfixes and no new features compared to the previous 3.4.0.Alpha2 release. One critical but that was fixed is the UDP nio support that got broken in the alpha releases before.</p>
  <p>For the detailed list of the changes, please refer to <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues?q=milestone%3A3.4.0.Beta1">the issue tracker page</a></span>.</p>
  </div>
