---
layout: news-item
title: 'Netty 3.5.4.Final out now'
author: normanmaurer
disqus_identifier: 2386317587225408878
---

:plain
  <div class="entry-content">
  <div class="entry-summary"><div class="entry-summary">
  <p>And here we go again.. The Netty Team brings you another release, named 3.5.4.Final, to rescue the day.</p>
  <p>This is mostly a bug-fix release out of the 3.5.x Series, but also brings some  performance optimization. One of these speed up the event processing and so through-put. Others reduce-memory copies or memory allocations.</p>
  <p>It fixes 24 bugs/tasks in summary. So if you have trouble with an older release of netty, chances are good that we fixed it now <img src="/resources/icons/silk/emoticon_wink.png" class="wikimodel-freestanding" alt="emoticon_wink">  </p>
  <p>Everyone using the OIO-Transport should upgrade ASAP.  As older versions contained a bug which could lead to events not being fired if the underlying socket blocked on a read(..) operation. See <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues/520">#520</a></span> for more details.</p>
  <p>Please checkout our <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues?milestone=22&amp;state=closed">issue tracker</a></span> for a detailed overview about what was fixed as part of the release. </p>
  <div class="wikimodel-emptyline"></div>
  <p>The JAR file can be found on <span class="wikiexternallink"><a href="http://search.maven.org/#artifactdetails%7Cio.netty%7Cnetty%7C3.5.4.Final%7Cjar">Maven Central</a></span> as usually. Beside this you can also get the full tarball from <span class="wikiexternallink"><a href="http://netty.io/downloads.html">the download page</a></span>.</p>
  <p>Please let us know if you find any issues, in the meantime have fun developing with Netty.</p>
  <p>Enjoy!</p>
  </div></div>
  </div>
