---
layout: news-item
title: 'Netty 4.0.0.Alpha1 .. finally!'
author: trustin
disqus_identifier: 407045639129637302
---

:plain
  <div class="entry-content">
  <p>It's been a long journey with so many brain stormings and thought experiments, and it's amazing that we finally managed to release the first alpha of the new major Netty version, 4.0.0.Alpha1.</p>
  <p>As usual, you can get it <span class="wikilink"><a href="http://netty.io/downloads.html">here</a></span> or in <span class="wikiexternallink"><a href="http://search.maven.org/#search%7Cga%7C1%7Cg%3A%22io.netty%22">the Maven central repository</a></span>.</p>
  <p>Before rushing into your IDE and updating your class path, you might want to spend some time to read about <span class="wikilink"><a href="http://netty.io/wiki/new-and-noteworthy.html">what's new and how to migrate your applications from 3.x to 4.0</a></span>, since 4.0 introduces numerous backward incompatible changes.  Those changes are of course for good reasons and I hope you like them.  Please feel free to <span class="wikiexternallink"><a href="http://stackoverflow.com/questions/tagged/netty">ask questions</a></span> about the problems you encounter during migration - I'm eager to help you!</p>
  <p>However, please also note that the new API is not final.  It's still at the alpha stage and it might change as we find design flaws or better ways to do the same thing.  At the same time, there are so many opportunities where your constructive feed back will make 4.0 better than ever.  Let me look forward to <span class="wikiexternallink"><a href="https://groups.google.com/d/forum/netty">your joining the developer group</a></span> and letting people know what you think.</p>
  </div>
