---
layout: news-item
title: 'Netty 3.4.1.Final released!'
author: trustin
disqus_identifier: 1038636929696728585
---

:plain
  <div class="entry-content">
  <p>The Netty project team is proud to announce the final release of Netty 3.4.1. This is a bugfix release of the 3.4.x series.</p>
  <p>The JAR file is already on <span class="wikiexternallink"><a href="http://search.maven.org/#artifactdetails%7Cio.netty%7Cnetty%7C3.4.1.Final%7Cbundle">Maven central repository</a></span>. You can also get the full tarball from <span class="wikilink"><a href="http://netty.io/downloads.html">the download page</a></span>.</p>
  <p>Netty 3.4.0.Final contains a regression which effects the <tt>ReplayingDecoder</tt> and so any Decoder that is based on it (the most used is the <tt>HttpMessageDecoder</tt>). Every user of Netty 3.4.0.Final should consider upgrading t0 3.4.1.Final as soon as possible.</p>
  <p>This release also allows to disable the use of sun.misc.Unsafe to make it easier to run Netty in OSGI enviroments or Application Servers that ship some custom <tt>ClassLoader</tt>. To explicit disable the use of sun.misc.Unsafe just specify "<tt>org.jboss.netty.tryUnsafe=false</tt>" as System Property.</p>
  <p>Netty 3.4.1 ships now with a workaround for a java bug (which is only fixed in java 7) that made it impossible to connect to link-local-addresses which contains a scope id / zone id. See <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues/267">#267</a></span> for more details.</p>
  <p>Beside this we had a handful of other bugfixes, most important in the Websocket handling (client-side). For the detailed list of the changes, please refer to <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues?sort=created&amp;direction=desc&amp;state=closed&amp;page=1&amp;milestone=10">the issue tracker page</a></span>.</p>
  </div>
