---
layout: news-item
title: 'Netty 4.0.0.Alpha5: One step closer to beta'
author: trustin
disqus_identifier: 9123539871832445513
---

:plain
  <div class="entry-content">
  <p>I'm proud to announce Netty 4.0.0.Alpha5 as a proof of our progress toward the beta phase. For recent alpha releases, we got increasingly awesome community contributions such as SCTP transport and WebSocket enhancements.  This time, we made a couple more interesting changes along with many bug fixes.</p>
  <ul>
  <li>In response to many requests, we added CORS preflight header constants to <tt>HttpHeaders</tt> finally.</li>
  <li>Jestan Nirojan added blocking OIO SCTP transport that has better throughput than the NIO SCTP transport.</li>
  <li>A new interface called '<tt>HttpObject</tt>' has been added, and <tt>HttpMessage</tt> and <tt>HttpChunk</tt> extend it.</li>
  <li>
  <tt>HttpMessageDecoder</tt> does not raise an exception when a bad HTTP message is received anymore.  It decodes the bad HTTP message as an <tt>HttpMessage</tt> or an <tt>HttpChunk</tt> with the information why decoding failed.  To get an idea what changes in your HTTP application are required, please check out <span class="wikiexternallink"><a href="https://github.com/netty/netty/commit/045b621b3fd8b8968056224ccc7b03179b7e2762">this commit</a></span>.  Also, you might want to read <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues/441">this issue tracker page</a></span> to understand why this change was necessary.</li>
  </ul>
  <p>For complete list of changes, check <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues?q=milestone%3A4.0.0.Alpha5">our issue tracker</a></span>.</p>
  <p>As Norman mentioned when announcing <span class="wikilink"><a href="http://netty.io/news/2012/09/13/4-0-0-alpha4.html">4.0.0.Alpha4</a></span>, the API is now pretty stable and we did not see any changes in the core API recently.  In the next release, I'm probably going to introduce buffer pooling and Netty 4 should be ready for beta finally.</p>
  </div>
