---
layout: news-item
title: 'Netty 3.4.4.Final released!'
author: trustin
disqus_identifier: 4067843319584130642
---

:plain
  <div class="entry-content">
  <p>The Netty project team is proud to announce the final release of Netty 3.4.4.Final. This release fix a regression in <tt>ChunkedWriteHandler</tt> which was introduced in 3.4.3.Final.</p>
  <p>The JAR file can be found on <span class="wikiexternallink"><a href="http://search.maven.org/#artifactdetails%7Cio.netty%7Cnetty%7C3.4.4.Final%7Cbundle">Maven central repository</a></span>. You can also get the full tarball from <span class="wikilink"><a href="../../../../downloads.html">the download page</a></span>.</p>
  <p><strong>If you don't use <tt>ChunkedWriteHandler</tt> its safe to stay on 3.4.3.Final.</strong></p>
  </div>
