---
layout: news-item
title: 'Netty 3.4.0.Alpha2 released!'
author: trustin
disqus_identifier: 6571201802274352220
---

:plain
  <div class="entry-content">
  <p>The Netty project team is proud to announce the second alpha release of Netty 3.4.0. Please note that it is an alpha release, so you might need to test it thoroughly before putting it into production. This should be the last alpha release of the 3.4.0 series and so a stable release should be expected soon.</p>
  <p>The JAR file is already on <span class="wikiexternallink"><a href="http://search.maven.org/#artifactdetails%7Cio.netty%7Cnetty%7C3.4.0.Alpha2%7Cbundle">Maven central repository</a></span>. You can also get the full tarball from <span class="wikilink"><a href="http://netty.io/downloads.html">the download page</a></span>.</p>
  <p>This version introduces a new feature that allows it to share a WorkerPool between different Nio*ChannelFactory instances and so make it easier to share Workers (event-loops) between different factories.</p>
  <p>Beside this we also fixed a few bugs.</p>
  <p>For the detailed list of the changes, please refer to <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues?q=milestone%3A3.4.0.Alpha2">the issue tracker page</a></span>.</p>
  </div>
