---
layout: news-item
title: 'Netty 4.0.0.Alpha7 released'
author: normanmaurer
disqus_identifier: 503654809585842678
---

:plain
  <div class="entry-content">
  <p>While trying to get Netty 4.0.0 ready for productions we thought it would be time to cut another alpha release.</p>
  <p>This release introduce <strong>NO </strong>API-Changes, so you should be safe to upgrade from Alpha6.</p>
  <div class="wikimodel-emptyline"></div>
  <h1 id="HBugfixes"><span><span>Bugfixes</span></span></h1>
  <p>The list of most important bug-fixes:</p>
  <ul>
  <li>Fixes for SPDY handling  <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues/705">[#705|</a></span> , <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues/706">[#706]</a></span>
  </li>
  <li>Fix bug in DefaultCompositeByteBuf which could lead to an IndexOutOfBoundException <span class="wikiexternallink"><a href="https://github.com/netty/netty/pull/708">[#708]</a></span> </li>
  </ul>
  <div>
  <h1 id="HFeatures"><span><span>Features</span></span></h1>
  <p>This release now contains HTTP Post support again.  See <span class="wikiexternallink"><a href="https://github.com/netty/netty/pull/709">[#709]</a></span> for more details..</p>
  </div>
  <div>
  <h1 id="HMisc"><span><span>Misc</span></span></h1>
  <p>Thanks again for all the feedback and help to make Netty 4.0.0 even more awesome. For more details please refer to our <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues?milestone=33&amp;state=closed">issue tracker</a></span>. You can grab the download via our <span class="wikiexternallink"><a href="../../../../downloads.html">website</a></span> or maven as usual.</p>
  </div>
  </div>
