---
layout: news-item
title: 'Announcing the new web site and Netty 3.5.1.Final'
author: trustin
disqus_identifier: 1654514869765240033
---

:plain
  <div class="entry-content">
  <p>There are two different yet exciting news this week.</p>
  <p>As you might have noticed already, the Netty web site went from <span class="wikiexternallink"><a href="http://awestruct.org/">Awestruct</a></span> to <span class="wikiexternallink"><a href="http://www.xwiki.org/">XWiki</a></span>.  With this change, any registered user can now edit the documentation area of the web site on the fly.  You can use either WYSIWYG editor or wiki markup to edit the pages.  Previously, contributing to our documentation required a contributor to fork a repository and issue a pull request, which was sometimes a barrier to some people.  I expect this change will help more people contribute to the documentation in the long term.</p>
  <p>Another good news is that Netty 3.5.1.Final has been released.  Here's the rough list of the notable changes:</p>
  <ul>
  <li>
  <span class="wikiexternallink"><a href="http://static.netty.io/3.5/api/index.html?org/jboss/netty/handler/codec/http/CookieDecoder.html"><tt>CookieDecoder</tt></a></span> handles HTTP cookies more correctly and faster.</li>
  <li>
  <span class="wikiexternallink"><a href="http://static.netty.io/3.5/api/index.html?org/jboss/netty/handler/codec/http/HttpContentCompressor.html"><tt>HttpContentCompressor</tt></a></span> does not compress the content of an <span class="wikiexternallink"><a href="http://static.netty.io/3.5/api/index.html?org/jboss/netty/handler/codec/http/HttpMessage.html"><tt>HttpMessage</tt></a></span> if its '<tt>Content-Encoding</tt>' is not '<tt>identity</tt>'.</li>
  <li>You can set the <tt>unfold</tt> property of a <span class="wikiexternallink"><a href="http://static.netty.io/3.5/api/index.html?org/jboss/netty/handler/codec/frame/FrameDecoder.html"><tt>FrameDecoder</tt></a></span> and <span class="wikiexternallink"><a href="http://static.netty.io/3.5/api/index.html?org/jboss/netty/handler/codec/replay/ReplayingDecoder.html"><tt>ReplayingDecoder</tt></a></span> even if the decoder you extends does not expose it as a constructor parameter.</li>
  <li>
  <span class="wikiexternallink"><a href="http://static.netty.io/3.5/api/index.html?org/jboss/netty/handler/codec/frame/FrameDecoder.html"><tt>FrameDecoder</tt></a></span> and <span class="wikiexternallink"><a href="http://static.netty.io/3.5/api/index.html?org/jboss/netty/handler/codec/replay/ReplayingDecoder.html"><tt>ReplayingDecoder</tt></a></span> do less memory copies than before.</li>
  </ul>
  <p>For the complete list of changes, visit <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues?milestone=18&amp;state=closed">our Github issue tracker</a></span>.</p>
  </div>
