---
layout: news-item
title: 'Netty 3.4.3.Final released!'
author: trustin
disqus_identifier: 2237986317610675810
---

:plain
  <div class="entry-content">
  <p>The Netty project team is proud to announce the final release of Netty 3.4.3. This is a bugfix release of the 3.4.x series</p>
  <p>The JAR file can be found on <span class="wikiexternallink"><a href="http://search.maven.org/#artifactdetails%7Cio.netty%7Cnetty%7C3.4.3.Final%7Cbundle">Maven central repository</a></span>. You can also get the full tarball from <span class="wikilink"><a href="http://netty.io/downloads.html">the download page</a></span>.</p>
  <p>The most important bugfix is the removal of a deadlock in <tt>ChunkedWriteHandler</tt> that could kick in sometimes. See <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues/297">#297</a></span> for more details. Beside this we also ship two small low-risk features which may be helpful for some users:</p>
  <ul>
  <li>
  <tt>ChannelLocal</tt> implements <tt>Iterable</tt> now. See <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues/307">#307</a></span>.</li>
  <li>
  <tt>SslHandler</tt> allow to detect incoming <tt>close_notify</tt> messages via a <tt>ChannelFuture</tt> that get notified. See <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues/137">#137</a></span>
  </li>
  </ul>
  <p>Beside this we had a handful of other bugfixes which are included. For the detailed list of the changes, please refer to <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues?sort=created&amp;direction=desc&amp;state=closed&amp;page=1&amp;milestone=13">the issue tracker page</a></span>.</p>
  <p><strong>Please do not use the release as it contains a regression in <tt>ChunkedWriteHandler</tt>, use 3.4.4.Final!</strong></p>
  </div>
