---
layout: news-item
title: 'Netty 3.4.0.Alpha1 released!'
author: trustin
disqus_identifier: 5418074874571579680
---

:plain
  <div class="entry-content">
  <p>The Netty project team is proud to announce the first alpha release of Netty 3.4.0. Please note that it is an alpha release, so you might need to test it thoroughly before putting it into production.</p>
  <p>The JAR file is already on <span class="wikiexternallink"><a href="http://search.maven.org/#artifactdetails%7Cio.netty%7Cnetty%7C3.4.0.Alpha1%7Cbundle">Maven central repository</a></span>. You can also get the full tarball from <span class="wikilink"><a href="/Main/Downloads">the download page</a></span>.</p>
  <p>This version introduces an often requested feature that allows a user to schedule an arbitrary task (i.e. java.lang.Runnable) for execution in an I/O thread:</p>
  <div class="box code">Channel ch <span style="color: #666666; ">=</span> <span style="color: #666666; ">...;</span><br>ch<span style="color: #666666; ">.</span><span style="color: #7D9029; ">getPipeline</span><span style="color: #666666; ">().</span><span style="color: #7D9029; ">execute</span><span style="color: #666666; ">(</span><span style="font-weight: bold; color: #008000; ">new</span> Runnable<span style="color: #666666; ">()</span> <span style="color: #666666; ">{</span><br>    <span style="color: #AA22FF; ">@Override</span><br>    <span style="font-weight: bold; color: #008000; ">public</span> <span style="color: #B00040; ">void</span> <span style="color: #0000FF; ">run</span><span style="color: #666666; ">()</span> <span style="color: #666666; ">{</span><br>        <span style="font-weight: italic; color: #408080; ">// Some task that is supposed to be executed in an I/O thread<br></span>    <span style="color: #666666; ">}</span><br><span style="color: #666666; ">});</span>
  </div>
  <p>Another important change is the increased granularity of connect timeout. Previously, Netty checked connection timeouts every 500 milliseconds, which is eternity in a fast network. The new check interval is now 10 milliseconds.</p>
  <p>Along with the new feature and small improvement mentioned above, this release also includes an optimized version of ReplayingDecoder which now avoids unnecessary memory allocation and copy wherever possible. If you are using a decoder such as HttpMessageDecoder, you will see better numbers in throughput and GC pressure.</p>
  <p>For the detailed list of the changes, please refer to <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues?milestone=6&amp;state=closed">the issue tracker page</a></span>.</p>
  <p>P.S. From this release, you need JDK 1.7 to build Netty. Please note that Netty still runs fine with Java 5 and it will always do for 3.x releases.</p>
  </div>
