---
layout: news-item
title: 'Netty 3.4.5.Final released!'
author: trustin
disqus_identifier: 9103954247987931714
---

:plain
  <div class="entry-content">
  <p>The Netty project team is proud to announce the final release of Netty 3.4.5.Final. This release is a bug-fix release of the 3.4.x series.</p>
  <p>The JAR file can be found on <span class="wikiexternallink"><a href="http://search.maven.org/#artifactdetails%7Cio.netty%7Cnetty%7C3.4.5.Final%7Cbundle">Maven central repository</a></span>. You can also get the full tarball from <span class="wikilink"><a href="http://netty.io/downloads.html">the download page</a></span>.</p>
  <p>For the detailed list of the changes, please refer to <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues?sort=created&amp;direction=desc&amp;state=closed&amp;page=1&amp;milestone=15">the issue tracker page</a></span>.</p>
  </div>
