---
layout: news-item
title: 'Netty 3.3.0 released - WebSockets!'
author: trustin
disqus_identifier: 8819707806396955885
---

:plain
  <div class="entry-content">
  <p>The Netty project team is proud to announce Netty 3.3.0.</p>
  <p>The JAR file is already being uploaded to the Maven central repository, and it's going to be propagated to the central repository soon. You can also get the full tarball from <span class="wikilink"><a href="/Main/Downloads">the download page</a></span>.</p>
  <p>This version introduces a couple exciting features. The most important one is <span class="wikiexternallink"><a href="http://static.netty.io/3.5/api/org/jboss/netty/handler/codec/http/websocketx/package-summary.html">the new websocketx package</a></span>, which replaces the old websocket implementation. As showcased in <span class="wikilink"><a href="/Blog/WebSockets+in+Netty">our previous post</a></span>, it provides a fully working WebSocket implementation that supports all known WebSocket specifications and passes <span class="wikiexternallink"><a href="http://www.tavendo.de/autobahn/testsuite.html">the Autobahn test suite</a></span>.</p>
  <p>If you are interested in more flexible thread model in your pipeline, you might be interested in the improvements in the org.jboss.netty.handler.execution package.</p>
  <p>At last but not least, ChannelFuture got a new method called rethrowIfFailed(). You might find it useful when you have to handle a failure in your client application:</p>
  <div class="box code">ChannelFuture f <span style="color: #666666; ">=</span> <span style="color: #666666; ">...</span><br><span style="font-weight: italic; color: #408080; ">// Before:<br></span>f<span style="color: #666666; ">.</span><span style="color: #7D9029; ">awaitUninterruptibly</span><span style="color: #666666; ">();</span><br><span style="font-weight: bold; color: #008000; ">if</span> <span style="color: #666666; ">(</span>f<span style="color: #666666; ">.</span><span style="color: #7D9029; ">isFailure</span><span style="color: #666666; ">())</span> <span style="color: #666666; ">{</span><br>    <span style="font-weight: bold; color: #008000; ">throw</span> <span style="font-weight: bold; color: #008000; ">new</span> <span style="color: #0000FF; ">SomeException</span><span style="color: #666666; ">(</span>f<span style="color: #666666; ">.</span><span style="color: #7D9029; ">getCause</span><span style="color: #666666; ">());</span><br><span style="color: #666666; ">}</span><br><br><span style="font-weight: italic; color: #408080; ">// After:<br></span>f<span style="color: #666666; ">.</span><span style="color: #7D9029; ">awaitUninterruptibly</span><span style="color: #666666; ">().</span><span style="color: #7D9029; ">rethrowIfFailed</span><span style="color: #666666; ">();</span>
  </div>
  <p>I hope you like these new features - please feel free to leave comments on this post. For the detailed list of the changes, please refer to <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues?milestone=3&amp;state=closed">the issue tracker page</a></span>.</p>
  <p>If you didn't have a chance to <span class="wikilink"><a href="/Main/Get+Involved">contribute</a></span>, it's better late than never. Actually, you can contribute a lot more than you think!</p>
  </div>
