---
layout: news-item
title: 'Netty 3.5.11.Final is out'
author: normanmaurer
disqus_identifier: 7987431178939101868
---

:plain
  <div class="entry-content">
  <p>Here comes another bug-fix release of the 3.5.x series. This is a "bug-fix-only" release, so nothing included beside bug-fixes. </p>
  <p>This release is 100% API compatible and so it can be used as a drop-in-replacement.</p>
  <div class="wikimodel-emptyline"></div>
  <p><span>The most important fixes are:</span></p>
  <ul>
  <li>
  <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues/723">[#723]</a></span> Prevent loss of events when shutdown ExecutionHandler</li>
  <li>
  <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues/729">[#729]</a></span><span> WebSocketClientHandshaker* does not handle urls with non abs_path correctly</span>
  </li>
  <li><span><span class="wikiexternallink"><a href="https://github.com/netty/netty/issues/734">[#734]</a></span> NPE is thrown and ChannelFuture is NOT notified if an unsupported message type is written to the Channel</span></li>
  <li>
  <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues/735">[#735]</a></span> WebSocketClientHandshaker08 / WebSocketClientHandshaker13 may notify ChannelFuture before the right encoder is present</li>
  <li>
  <span class="wikiexternallink"><a href="https://github.com/netty/netty/pull/755">[#755]</a></span> Fix header block values truncation in decompression when using SPDY</li>
  <li>
  <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues/761">[#761]</a></span> Fix possible NPE in cleanupWriteBuffer when closing Channel</li>
  </ul>
  <p>For a complete list of changes please checkout our <span><span class="wikiexternallink"><a href="https://github.com/netty/netty/issues?milestone=37&amp;state=closed">issue tracker</a></span>. </span></p>
  <p>The JAR file can be found on <span class="wikiexternallink"><a href="http://search.maven.org/#artifactdetails%7Cio.netty%7Cnetty%7C3.5.11.Final%7Cjar">Maven Central</a></span> or  you can also get the full tarball from <span class="wikiexternallink"><a href="http://netty.io/downloads.html">the download page</a></span>. Whatever you prefer...</p>
  <p>Please let us know if you have any problems or questions.</p>
  </div>
