---
layout: news-item
title: 'Netty 4.0.0.Alpha6 hits the streets'
author: normanmaurer
disqus_identifier: 6131068323306873611
---

:plain
  <div class="entry-content">
  <p>I'm happy to announce the sixth alpha release of the next major version of Netty. Again we made a huge step to beta but felt that we should release a few alpha releases before.</p>
  <div class="wikimodel-emptyline"></div>
  <p>This release includes a bunch of changes and bug-fixes.</p>
  <h1 id="HBugfixes"><span>Bugfixes</span></h1>
  <p>The list of most important bug-fixes:</p>
  <ul>
  <li>
  <span class="wikiexternallink"><a href="https://github.com/netty/netty/pull/646">[646]</a></span>  Set handler in ServerBootstrap was ignored</li>
  <li>
  <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues/659">[659]</a></span> AIO Transport not release all resources on shutdown</li>
  <li>
  <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues/661">[661]</a></span> WebSocketClientHandshaker broken</li>
  <li>
  <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues/669">[669]</a></span> Fix NPE in HashedWheelTimer</li>
  </ul>
  <div>
  <h1 id="HImprovements"><span><span style="line-height: 19px;">Improvements</span></span></h1>
  <p>We also included a lot of improvements, which are listed here:</p>
  <div class="wikimodel-emptyline"></div>
  <ul>
  <li>
  <span class="wikiexternallink"><a href="https://github.com/netty/netty/pull/664">[664]</a></span> Add support for method-chaining to ByteBuf</li>
  <li>
  <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues/674">[674]</a></span> <span style="font-family: Helvetica, arial, freesans, clean, sans-serif; font-style: normal; line-height: normal; ">ChannelInboundMessageHandlerAdapter.beginMessageReceived(..) should return boolean</span>
  </li>
  <li>
  <span style="font-family: Helvetica arial freesans clean sans-serif; line-height: normal"><span class="wikiexternallink"><a href="https://github.com/netty/netty/issues/678">[678]</a></span> </span><span style="font-family: Helvetica, arial, freesans, clean, sans-serif; font-style: normal; font-weight: normal; line-height: normal; ">ChannelInboundMessageHandlerAdapter should check if message is supported before cast it</span>
  </li>
  </ul>
  <div>
  <p>To give you some idea about what are the gains / needed changes, let me show you these in action.</p>
  <div class="wikimodel-emptyline"></div>
  <p>With method-chaining you can safe some typing and use a fluent-style api:</p>
  <div class="wikimodel-emptyline"></div>
  <script src="https://gist.github.com/3971883.js"></script><div class="wikimodel-emptyline"></div>
  <p>The adjustment to  let <span style="font-family: Helvetica, arial, freesans, clean, sans-serif; font-size: 14px; font-style: normal; ">ChannelInboundMessageHandlerAdapter.beginMessageReceived(..) return a boolean need some more attention as it breaks the API. So if you have overridden the method before you will need to adjust your code. </span></p>
  <div class="wikimodel-emptyline"></div>
  <script src="https://gist.github.com/3971881.js"></script><div class="wikimodel-emptyline"></div>
  <p>The last change that needs to have some extra mention is <span class="wikiexternallink"><a style="font-family: 'Helvetica arial freesans clean sans-serif'; font-size: 14px; font-style: normal; " href="https://github.com/netty/netty/issues/678">[678]</a></span><span style="font-family:Helvetica arial freesans clean sans-serif;">. This change make it possible to have many different ChannelInboundMessageHandlerAdapter instances in your pipeline that handle different message types. Before this this was not possible as you would have seen a ClassCastException.</span></p>
  <script src="https://gist.github.com/3971912.js"></script><div class="wikimodel-emptyline"></div>
  <h1 id="HFeatures"><span>Features</span></h1>
  <p>This release also brings you one big new feature. We now have support for metrics in Netty. This was contributed by Olaf Berger.  The "design" is heavily based on <span class="wikiexternallink"><a href="http://metrics.codahale.com">metrics</a></span> but allows to also plugin in other implementations. At the moment we ship it as default implementation but you can just plugin your implementation via SPI.</p>
  <p>See <span class="wikiexternallink"><a href="https://github.com/netty/netty/pull/682">[687]</a></span> for the pull-request. Documentations about this feature can be found in the <span class="wikiexternallink"><a href="http://static.netty.io/4.0/api/io/netty/monitor/package-summary.html">javadocs</a></span> .</p>
  <p>At the moment only metrics for the HashedWheelTimer are generated, but we will add support to other pieces of Netty over the next weeks. So stay tuned..</p>
  </div>
  </div>
  <div class="wikimodel-emptyline"></div>
  <h1 id="HMisc"><span>Misc</span></h1>
  <p>Thanks again for all the feedback and help to make Netty 4.0.0 even more awesome. For more details please refer to our <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues?milestone=30&amp;state=closed">issue tracker</a></span>. You can grab the download via our <span class="wikiexternallink"><a href="https://netty.io/Main/Downloads">website</a></span> or maven as usual.</p>
  </div>
