---
layout: news-item
title: 'Netty 3.5.0.Beta1 released!'
author: trustin
disqus_identifier: 6721345938511975155
---

:plain
  <div class="entry-content">
  <p>The Netty project team is proud to announce the first beta release of Netty 3.5.0. Please note that it's a beta release, so you might need to test it thoroughly before putting it into production.</p>
  <p>The JAR file is already on <span class="wikiexternallink"><a href="http://search.maven.org/#artifactdetails%7Cio.netty%7Cnetty%7C3.5.0.Beta1%7Cbundle">Maven central repository</a></span>. You can also get the full tarball from <span class="wikilink"><a href="http://netty.io/downloads.html">the download page</a></span>.</p>
  <p>This version introduces various features. The most important are:</p>
  <ul>
  <li>
  <span class="wikiexternallink"><a href="https://github.com/netty/netty/pull/353">SPDY3</a></span> support. Thanks again to our friends at twitter!</li>
  <li>
  <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues/216">NIO UDP Multicast</a></span> support (only available when using jdk7)</li>
  <li>
  <span class="wikiexternallink"><a href="https://github.com/netty/netty/pull/271">Gathering Writes</a></span> support (only available when using jdk7)</li>
  <li>
  <span class="wikiexternallink"><a href="https://github.com/netty/netty/pull/286">HTTP POST</a></span> support</li>
  <li>
  <span class="wikiexternallink"><a href="https://github.com/netty/netty/pull/340">Handler</a></span> for traffic shaping</li>
  <li>
  <span class="wikiexternallink"><a href="https://github.com/netty/netty/pull/340">Handler</a></span> for IP based filtering</li>
  <li>
  <span class="wikiexternallink"><a href="https://github.com/netty/netty/pull/324">Encoder/Decoder</a></span> that supports marshall / unmarshall of java objects via JBoss Marshalling (can be used as replacement for <tt>ObjectEncoder</tt>/<tt>ObjectDecoder</tt>)</li>
  </ul>
  <p><strong>API Breakage in SPDY</strong></p>
  <p>Please note that this release includes some "small" API Breakage in the spdy package, which should not effect most of you. All static field values that were located in the <tt>SpdyHeaders.HttpNames</tt> class were moved to the <tt>Spdy2Headers.HttpNames</tt> class. The ones that are now in <tt>SpdyHeaders.HttpNames</tt> are related to SPDY3. The ones in <tt>Spdy2Headers</tt> are the old ones that are related to SPDY2.</p>
  <p>Along with the new features mentioned above, this release also includes many other bugfixes.</p>
  <p>For the detailed list of the changes, please refer to <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues?milestone=11&amp;page=1&amp;state=closed">the issue tracker page</a></span>.</p>
  <p>Enjoy!</p>
  </div>
