---
layout: news-item
title: 'Netty 3.5.9.Final is out'
author: normanmaurer
disqus_identifier: 7274507553640229214
---

:plain
  <div class="entry-content">
  <p>The Netty Team just cut another bug-fix release of the 3.5.x series for you. Beside of bug-fixes it also contain a handful of improvements. No new features were added.</p>
  <p><span>But </span><strong><span>important</span></strong><span> things first..</span></p>
  <h2 id="HImprovements"><span><span>Improvements</span></span></h2>
  <p>A few small improvements are also included, as we felt you will like them:</p>
  <div class="wikimodel-emptyline"></div>
  <ul>
  <li>
  <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues/658">[658]</a></span> SslHandler only parse packet length one time per packet</li>
  <li>
  <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues/641">[641]</a></span> IdleStateEvents should be handled in the Worker-Thread</li>
  <li>
  <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues/657">[657]</a></span> Add utility method to SslHandler to detect if a buffer contains encrypted data</li>
  <li>
  <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues/638">[638]</a></span> Force destroy of direct buffer one shutdown</li>
  </ul>
  <h2 id="HBugfixes"><span><span>Bugfixes</span></span></h2>
  <p>The most important are:</p>
  <ul>
  <li>
  <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues/634">[634]</a></span> Fix NPE in OrderedMemoryAwareThreadPoolExecutor</li>
  <li>
  <span class="wikiexternallink"><a href="https://github.com/netty/netty/pull/637">[637]</a></span> Flush in ChunkedWriteHandler may get missed</li>
  <li>
  <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues/679">[679]</a></span> NPE in HashedWheelTimer because of a JDK bug</li>
  </ul>
  <h2 id="HGeneral"><span><span>General</span></span></h2>
  <p>For all of the other changes please checkout our <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues?milestone=31&amp;state=closed">issue tracker</a></span>. </p>
  <p>The JAR file can be found on <span class="wikiexternallink"><a href="http://search.maven.org/#artifactdetails%7Cio.netty%7Cnetty%7C3.5.9.Final%7Cjar">Maven Central</a></span> or  you can also get the full tarball from <span class="wikiexternallink"><a href="../../../../downloads.html">the download page</a></span>. Whatever you prefer...</p>
  <p>Please let us know if you have any problems or questions.</p>
  </div>
