---
layout: news-item
title: 'Netty 3.5.10.Final - Get it while it is hot'
author: normanmaurer
disqus_identifier: 7146093715190137237
---

:plain
  <div class="entry-content">
  <p>Here comes another bug-fix release of the 3.5.x series. This is a "bug-fix-only" release, so nothing included beside bug-fixes.</p>
  <p><span>The most important are:</span></p>
  <ul>
  <li>
  <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues/685">[685]</a></span> Possible NPE in NioClientSocketPipelineSink</li>
  <li>
  <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues/694">[694]</a></span><span> WebSocket08FrameDecoder calls await*(..) in the Worker / IO-Thread</span>
  </li>
  <li><span><span class="wikiexternallink"><a href="https://github.com/netty/netty/issues/712">[712]</a></span> CookieDecoder can not parse dates in the past</span></li>
  <li>
  <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues/719">[719]</a></span> Empty path segment in URI results in invalid HTTP Request</li>
  </ul>
  <p>For all the other changes please checkout our <span> <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues?milestone=32&amp;state=closed">issue tracker</a></span>. </span></p>
  <p>The JAR file can be found on <span class="wikiexternallink"><a href="http://search.maven.org/#artifactdetails%7Cio.netty%7Cnetty%7C3.5.10.Final%7Cjar">Maven Central</a></span> or  you can also get the full tarball from <span class="wikiexternallink"><a href="../../../../downloads.html">the download page</a></span>. Whatever you prefer...</p>
  <p>Please let us know if you have any problems or questions.</p>
  </div>
