---
layout: news-item
title: 'Netty 3.3.1 released - SPDY Protocol !'
author: trustin
disqus_identifier: 3164864089081116722
---

:plain
  <div class="entry-content">
  <p>The Netty project team is proud to announce Netty 3.3.1.</p>
  <p>The JAR file is already on Maven central repository. You can also get the full tarball from <span class="wikilink"><a href="http://netty.io/downloads.html">the download page</a></span>.</p>
  <p>This version introduces a couple exciting features. The most important one is <span class="wikiexternallink"><a href="http://netty.io/3.5/api/org/jboss/netty/handler/codec/spdy/package-summary.html">the new SPDY package</a></span>, which was contributed by Twitter.</p>
  <p>If you develop for Android, you will be happy to hear that this release fix the incompatibility with Android (which was a regression introduced in 3.3.0).</p>
  <p>Beside this we introduced the possibility to @override the creation of the cumulative buffer in the FrameDecoder class. This allows you to adjust the way the buffer is created and so allows sub-classes to use way that fit them best.</p>
  <p>For the detailed list of the changes, please refer to <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues?milestone=5&amp;state=closed">the issue tracker page</a></span>.</p>
  <p>If you didn't have a chance to <span class="wikilink"><a href="http://netty.io/downloads.html">contribute</a></span>, you may to consider to do so in the future !</p>
  </div>
