---
layout: news-item
title: 'Netty 3.5.7.Final released'
author: normanmaurer
disqus_identifier: 9070567364251725005
---

:plain
  <div class="entry-content">
  <p><span>After we got reported that the epoll(..) workaround was a way to aggressive (because of a bug) in our latest release we thought it would be time to cut another one which fix the mentioned problem. So here you get it!</span></p>
  <p>This mentioned epoll(..) bug can lead to very excessive cpu-spinning, which will most likely produce 100% cpu usage on the core that runs the thread of the NioWorker or NioDatagramWorker.  For more informations please see <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues/327">#327</a></span>, <span class="wikiexternallink"><a href="https://github.com/netty/netty/pull/565">#565</a></span>.</p>
  <p>The workaround is disabled by default at the moment. This is because we want to be sure its "mature" enough before enable it by default. Anyway, if you got hit by the bug enable the workaround via the <em>org.jboss.netty.epoolBugWorkaround</em>  System Property.</p>
  <div class="wikimodel-emptyline"></div>
  <script src="https://gist.github.com/3651750.js"></script><p>Another problem which was solved was only effecting Windows users most of the times, when using Netty on the client-side. Once you released the external resources you sometimes saw a ChannelException<span>. This was an effect of a small race-condition which was present during checking for connection timeout and the release of the resources. This was fixed as part of <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues/395">#395</a></span>.</span></p>
  <p>For all of the other changes please checkout our <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues?q=milestone%3A3.5.7.Final">issue tracker</a></span>. </p>
  <p>The JAR file can be found on <span class="wikiexternallink"><a href="http://search.maven.org/#artifactdetails%7Cio.netty%7Cnetty%7C3.5.7.Final%7Cjar">Maven Central</a></span> or  you can also get the full tarball from <span class="wikiexternallink"><a href="http://netty.io/downloads.html">the download page</a></span>. Whatever you prefer...</p>
  <p>Please let us know if you have any problems or questions.</p>
  <p>Enjoy coding, and sorry for the "buggy" 3.5.6.Final release before!</p>
  </div>
