---
layout: news-item
title: 'Netty 3.6.2.Final released'
author: normanmaurer
disqus_identifier: 2329357110694322164
---

:plain
  <div class="entry-content">
  <p>While we spend most of our time working on the first beta of the next major version of Netty , we also spend some time to fix bugs and add new features to our current stable series.  </p>
  <p>As result of this we released another stable version out of the 3.6.x series today. Say "Hi" to Netty 3.6.2.Final!</p>
  <p>The release includes bug-fixes, enhancements and also new features. So if you are interested keep reading...</p>
  <h1 id="HBugfixes"><span><span>Bugfixes</span></span></h1>
  <p>Here are the most important bug-fixes:</p>
  <ul>
  <li>
  <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues/915">[#915]</a></span> SSL handshake may be done twice</li>
  <li>
  <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues/921">[#921]</a></span> WebSocket07ClientHandshaker may throw a NPE</li>
  <li>
  <span class="wikiexternallink"><a href="https://github.com/netty/netty/pull/926">[#926]</a></span> Chrome requires version header in SPDY_SESSION_PUSHED_SYN_STREAM</li>
  </ul>
  <div>
  <h1 id="HNewstuffandimprovements"><span><span>New stuff and improvements</span></span></h1>
  <h2 id="HAddSockscodec"><span><span>Add Socks codec</span></span></h2>
  <p>This release comes with a socks codec. Be aware that it only works with Java 6 or higher because of some classes that are only available since Java 6. Checkout the "org.jboss.netty.handler.codec.socks" package for all the classes and their javadocs.</p>
  </div>
  <h1 id="HSupportasyncbindofServerChannel"><span><span>Support async bind of ServerChannel</span></span></h1>
  <p>Previous this release it was not possible to use the loved ServerBootstrap to bind to a Socket in an async fashion. This was because the ServerBootstrap.bind(..) method is blocking till the bound operation completes. Unfortunately this is often not what you want as want to do other tasks while the bind operation completes.</p>
  <div class="wikimodel-emptyline"></div>
  <p>To overcome this limitation while still keep backward compatibility we introduced 2 new methods to ServerBootstrap. These are the async counterparts of the existing bind() and bind(SocketAddress) methods.</p>
  <p>Here you see async bind in action...</p>
  <div class="wikimodel-emptyline"></div>
  <script src="https://gist.github.com/4547247.js"></script><p>Special thanks go out to the <span class="wikiexternallink"><a href="http://vertx.io">vert-x</a></span> project which made us aware of the problem. So we hope you enjoy it <img src="/resources/icons/silk/emoticon_smile.png" class="wikimodel-freestanding" alt="emoticon_smile"></p>
  <h2 id="HGeneral"><span><span>General</span></span></h2>
  <p>For a complete list of changes please checkout our <span><span class="wikiexternallink"><a href="https://github.com/netty/netty/issues?milestone=41&amp;state=closed">issue tracker</a></span>.  To download Netty, as usual, please visit <span class="wikilink"><a href="http://netty.io/downloads.html">the downloads page</a></span> or get it via maven like usual.</span></p>
  <p>Please let us know if you have any problems or questions.</p>
  </div>
