---
layout: news-item
title: 'Netty 4.0.0.Beta1 out now'
author: normanmaurer
disqus_identifier: 1689168171933546411
---

:plain
  <div class="entry-content">
  <p>We are happy to announce the first Beta release of the upcoming Netty 4.0.0 release. This release fixes over 150 issues/tasks since the release of Alpha8. </p>
  <p>We consider the API as stable now so it may be the perfect time for your project to test-drive it.  To make it easier for all of you we updated the <span class="wikilink"><a rel="__blank" href="../../../../wiki/new-and-noteworthy.html">New and Noteworthy</a></span> post to reflect latest API changes.  Also we updated the <span class="wikiexternallink"><a href="http://netty.io/4.0/guide/">user guide</a></span> for Netty 4. </p>
  <p>Please don't hesitate to get in touch with us if you have any problems or think we missed something.</p>
  <div class="wikimodel-emptyline"></div>
  <p>For a complete list of changes please checkout our <span><span class="wikiexternallink"><a href="https://github.com/netty/netty/issues?milestone=38&amp;state=closed">issue tracker</a></span>.  To download Netty, as usual, please visit <span class="wikiexternallink"><a href="../../../../downloads.html">the downloads page</a></span> or get it via maven like usual.</span></p>
  <p></p>
  <div class="wikimodel-emptyline"></div>
  <div class="wikimodel-emptyline"></div>
  <p>The Netty Team want to thank again the whole community for the feedback and contributions. This would not be possible without all of you. You make a difference!</p>
  <div></div>
  </div>
