---
layout: news-item
title: 'Netty 3.6.1.Final out - More SSL fixes...'
author: normanmaurer
disqus_identifier: 3470328082123672179
---

:plain
  <div class="entry-content">
  <p>And it is time again for the next release of the 3.6.x Series... </p>
  <p>This release is a bugfix-only release, so no new features included. <strong>Everyone using the SslHandler advised to upgrade.</strong></p>
  <h1 id="HBugfixes""><span><span">Bugfixes</span></span></h1>
  <p>Like said we have a lot of bugfixes in there, here are the most important.</p>
  <ul>
  <li>
  <span class="wikiexternallink"><a href="https://github.com/netty/netty/pull/865">[#865]</a></span> Regression in SslHandler which may cause to not have wrap() called</li>
  <li>
  <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues/845">[#845]</a></span> Support for requests larger than 2GB in codec.http</li>
  <li>
  <span class="wikiexternallink"><a href="https://github.com/netty/netty/issues/769">[#769]</a></span> ContentEncoding header should not return "identity"</li>
  </ul>
  <div"><h1 id="HGeneral"><span><span">General</span></span></h1></div>
  <p>For a complete list of changes please checkout our <span"><span class="wikiexternallink"><a href="https://github.com/netty/netty/issues?milestone=40&amp;state=closed">issue tracker</a></span>.  To download Netty, as usual, please visit <span class="wikilink"><a href="http://netty.io/downloads.html">the downloads page</a></span> or grab it from maven central as usual.</span></p>
  <p>Please let us know if you have any problems or questions.</p>
  </div>
