---
layout: jumbotronless
title: 'Netty.docs: Home'
---

.row
  .col-md-9
    #main-content
      :plain
        <div id="wiki-body" class="gollum-markdown-content instapaper_body">
            <div class="markdown-body">
              <h1>Documentation</h1>
              <p>Get started with the user guide and the API reference. Also, <a href="http://netty.io/community.html">join the community</a> to get more information.</p>

        <ul>
        <li>Version 5.x

        <ul>
        <li><a class="internal present" href="user-guide-for-5.x.html">User Guide</a></li>
        <li>
        <a href="http://netty.io/5.0/api/">API Reference</a> (Javadoc)</li>
        <li>
        <a href="http://netty.io/5.0/xref/">Source Code</a> (Xref)</li>
        <li><a class="internal present" href="new-and-noteworthy-in-5.x.html">New and Noteworthy</a></li>
        </ul>
        </li>
        <li>Version 4.x

        <ul>
        <li><a class="internal present" href="user-guide-for-4.x.html">User Guide</a></li>
        <li>
        <a href="http://netty.io/4.0/api/">API Reference</a> (Javadoc)</li>
        <li>
        <a href="http://netty.io/4.0/xref/">Source Code</a> (Xref)</li>
        <li><a class="internal present" href="new-and-noteworthy-in-4.x.html">New and Noteworthy</a></li>
        </ul>
        </li>
        <li>Version 3.x

        <ul>
        <li><a class="internal present" href="user-guide-for-3.x.html">User Guide</a></li>
        <li>
        <a href="http://netty.io/3.9/api/">API Reference</a> (Javadoc)</li>
        <li>
        <a href="http://netty.io/3.9/xref/">Source Code</a> (Xref)</li>
        </ul>
        </li>
        </ul>
        <h2 id="wiki-h2-0">
        <a name="3rd-party-articles" class="anchor" href="#3rd-party-articles"><span class="octicon octicon-link"></span></a>3rd-party Articles</h2>

        <p>We often find there are people in the world who are much more talented in technical writing than we, and they kindly wrote <a class="internal present" href="related-articles.html">great articles</a> for the community.</p>

        <h2 id="wiki-h2-1">
        <a name="examples" class="anchor" href="#examples"><span class="octicon octicon-link"></span></a>Examples</h2>

        <p>There are several examples to help your experience with Netty. It is recommended to start from the first one and to finish to the last one.  You also might want to browse the complete list of examples (<a href="https://github.com/netty/netty/tree/master/example/src/main/java/io/netty/example">5.x</a>, <a href="https://github.com/netty/netty/tree/4.0/example/src/main/java/io/netty/example">4.x</a>, and <a href="https://github.com/netty/netty/tree/3.9/src/main/java/org/jboss/netty/example">3.x</a>)</p>

        <div class="tabbable">
        <ul class="nav nav-tabs">
        <li><a href="#wiki-example-5" data-toggle="tab">5.x</a></li>
        <li class="active"><a href="#wiki-example-4" data-toggle="tab">4.x</a></li>
        <li><a href="#wiki-example-3" data-toggle="tab">3.x</a></li>
        </ul>
        <div class="tab-content">
        <div class="tab-pane active" id="wiki-example-3">
        <h3 id="wiki-h3-2">
        <a name="examples-for-version-3x" class="anchor" href="#examples-for-version-3x"><span class="octicon octicon-link"></span></a>Examples for version 3.x</h3>
        <h4 id="wiki-h4-3">
        <a name="fundamental" class="anchor" href="#fundamental"><span class="octicon octicon-link"></span></a>Fundamental</h4>
        <ul>
        <li>
        <a href="https://github.com/netty/netty/tree/3.9/src/main/java/org/jboss/netty/example/echo">Echo</a> - the very basic client and server</li>
        <li>
        <a href="https://github.com/netty/netty/tree/3.9/src/main/java/org/jboss/netty/example/discard">Discard</a> - prevent <tt>OutOfMemoryError</tt> which is caused by writing too fast</li>
        <li>
        <a href="https://github.com/netty/netty/tree/3.9/src/main/java/org/jboss/netty/example/uptime">UpTime</a> - implement reliable client-side reconnection</li>
        </ul>
        <h4 id="wiki-h4-4">
        <a name="text-protocols" class="anchor" href="#text-protocols"><span class="octicon octicon-link"></span></a>Text protocols</h4>
        <ul>
        <li>
        <a href="https://github.com/netty/netty/tree/3.9/src/main/java/org/jboss/netty/example/telnet">Telnet</a> - a classic line-based network application</li>
        <li>
        <a href="https://github.com/netty/netty/tree/3.9/src/main/java/org/jboss/netty/example/qotm">Quote</a> of the Moment - broadcast UDP/IP client and server</li>
        <li>
        <a href="https://github.com/netty/netty/tree/3.9/src/main/java/org/jboss/netty/example/securechat">SecureChat</a> - an SSL-based chat server derived from the Telnet example</li>
        </ul>
        <h4 id="wiki-h4-5">
        <a name="binary-protocols" class="anchor" href="#binary-protocols"><span class="octicon octicon-link"></span></a>Binary protocols</h4>
        <ul>
        <li>
        <a href="https://github.com/netty/netty/tree/3.9/src/main/java/org/jboss/netty/example/objectecho">ObjectEcho</a> - exchange serializable Java objects</li>
        <li>
        <a href="https://github.com/netty/netty/tree/3.9/src/main/java/org/jboss/netty/example/factorial">Factorial</a> - write a stateful client / server based on custom binary protocol</li>
        <li>
        <a href="https://github.com/netty/netty/tree/3.9/src/main/java/org/jboss/netty/example/localtime">LocalTime</a> - rapid protocol prototyping with Google Protocol Buffers integration</li>
        </ul>
        <h4 id="wiki-h4-6">
        <a name="http" class="anchor" href="#http"><span class="octicon octicon-link"></span></a>HTTP</h4>
        <ul>
        <li>
        <a href="https://github.com/netty/netty/tree/3.9/src/main/java/org/jboss/netty/example/http/snoop">HTTP (Snoop)</a> - build your own extremely light-weight HTTP client and server</li>
        <li>
        <a href="https://github.com/netty/netty/tree/3.9/src/main/java/org/jboss/netty/example/http/file">HTTP (File Server)</a> - asynchronous large file streaming in HTTP</li>
        <li>Web Socket <a href="https://github.com/netty/netty/tree/3.9/src/main/java/org/jboss/netty/example/http/websocketx/client">Client</a> &amp; <a href="https://github.com/netty/netty/tree/3.9/src/main/java/org/jboss/netty/example/http/websocketx/server">Server</a> - add two-way full-duplex communication channels to HTTP using Web Sockets protocol</li>
        </ul>
        <h4 id="wiki-h4-7">
        <a name="advanced" class="anchor" href="#advanced"><span class="octicon octicon-link"></span></a>Advanced</h4>
        <ul>
        <li>
        <a href="https://github.com/netty/netty/tree/3.9/src/main/java/org/jboss/netty/example/proxy">Proxy Server</a> - write a highly efficient NIO proxy server</li>
        <li>
        <a href="https://github.com/netty/netty/tree/3.9/src/main/java/org/jboss/netty/example/portunification">Port Unification</a> - run heterogeneous services listening on a single port</li>
        </ul>
        </div>

        <div class="tab-pane" id="wiki-example-4">
        <h3 id="wiki-h3-8">
        <a name="examples-for-version-4x" class="anchor" href="#examples-for-version-4x"><span class="octicon octicon-link"></span></a>Examples for version 4.x</h3>
        <h4 id="wiki-h4-9">
        <a name="fundamental-1" class="anchor" href="#fundamental-1"><span class="octicon octicon-link"></span></a>Fundamental</h4>
        <ul>
        <li>
        <a href="https://github.com/netty/netty/tree/4.0/example/src/main/java/io/netty/example/echo">Echo</a> - the very basic client and server</li>
        <li>
        <a href="https://github.com/netty/netty/tree/4.0/example/src/main/java/io/netty/example/discard">Discard</a> - prevent <tt>OutOfMemoryError</tt> which is caused by writing too fast</li>
        <li>
        <a href="https://github.com/netty/netty/tree/4.0/example/src/main/java/io/netty/example/uptime">UpTime</a> - implement reliable client-side reconnection</li>
        </ul>
        <h4 id="wiki-h4-10">
        <a name="text-protocols-1" class="anchor" href="#text-protocols-1"><span class="octicon octicon-link"></span></a>Text protocols</h4>
        <ul>
        <li>
        <a href="https://github.com/netty/netty/tree/4.0/example/src/main/java/io/netty/example/telnet">Telnet</a> - a classic line-based network application</li>
        <li>
        <a href="https://github.com/netty/netty/tree/4.0/example/src/main/java/io/netty/example/qotm">Quote</a> of the Moment - broadcast UDP/IP client and server</li>
        <li>
        <a href="https://github.com/netty/netty/tree/4.0/example/src/main/java/io/netty/example/securechat">SecureChat</a> - an SSL-based chat server derived from the Telnet example</li>
        </ul>
        <h4 id="wiki-h4-11">
        <a name="binary-protocols-1" class="anchor" href="#binary-protocols-1"><span class="octicon octicon-link"></span></a>Binary protocols</h4>
        <ul>
        <li>
        <a href="https://github.com/netty/netty/tree/4.0/example/src/main/java/io/netty/example/objectecho">ObjectEcho</a> - exchange serializable Java objects</li>
        <li>
        <a href="https://github.com/netty/netty/tree/4.0/example/src/main/java/io/netty/example/factorial">Factorial</a> - write a stateful client / server based on custom binary protocol</li>
        <li>
        <a href="https://github.com/netty/netty/tree/4.0/example/src/main/java/io/netty/example/worldclock">WorldClock</a> - rapid protocol prototyping with Google Protocol Buffers integration</li>
        </ul>
        <h4 id="wiki-h4-12">
        <a name="http-1" class="anchor" href="#http-1"><span class="octicon octicon-link"></span></a>HTTP</h4>
        <ul>
        <li>
        <a href="https://github.com/netty/netty/tree/4.0/example/src/main/java/io/netty/example/http/snoop">HTTP (Snoop)</a> - build your own extremely light-weight HTTP client and server</li>
        <li>
        <a href="https://github.com/netty/netty/tree/4.0/example/src/main/java/io/netty/example/http/file">HTTP (File Server)</a> - asynchronous large file streaming in HTTP</li>
        <li>Web Socket <a href="https://github.com/netty/netty/tree/4.0/example/src/main/java/io/netty/example/http/websocketx/client">Client</a> &amp; <a href="https://github.com/netty/netty/tree/4.0/example/src/main/java/io/netty/example/http/websocketx/server">Server</a> - add two-way full-duplex communication channels to HTTP using Web Sockets protocol</li>
        </ul>
        <h4 id="wiki-h4-13">
        <a name="advanced-1" class="anchor" href="#advanced-1"><span class="octicon octicon-link"></span></a>Advanced</h4>
        <ul>
        <li>
        <a href="https://github.com/netty/netty/tree/4.0/example/src/main/java/io/netty/example/proxy">Proxy Server</a> - write a highly efficient NIO proxy server</li>
        <li>
        <a href="https://github.com/netty/netty/tree/4.0/example/src/main/java/io/netty/example/portunification">Port Unification</a> - run heterogeneous services listening on a single port</li>
        </ul>
        <h4 id="wiki-h4-14">
        <a name="udt" class="anchor" href="#udt"><span class="octicon octicon-link"></span></a><abbr title="UDP-based Data Transfer Protocol" class="initialism">UDT</abbr>
        </h4>
        <ul>
        <li>
        <a href="https://github.com/netty/netty/tree/4.0/example/src/main/java/io/netty/example/udt/echo/bytes">Byte Streams</a> - use <a href="http://en.wikipedia.org/wiki/UDP-based_Data_Transfer_Protocol">UDT</a> in TCP-like bytes streaming mode</li>
        <li>
        <a href="https://github.com/netty/netty/tree/4.0/example/src/main/java/io/netty/example/udt/echo/message">Message Flows</a> - use <a href="http://en.wikipedia.org/wiki/UDP-based_Data_Transfer_Protocol">UDT</a> in UDP-like guaranteed message delivery mode</li>
        <li>
        <a href="https://github.com/netty/netty/tree/4.0/example/src/main/java/io/netty/example/udt/echo/rendevous">Rendezvous message flow Connect</a> - use <a href="http://en.wikipedia.org/wiki/UDP-based_Data_Transfer_Protocol">UDT</a> in symmetric peer-to-peer message flow rendezvous connect mode</li>
        <li>
        <a href="https://github.com/netty/netty/tree/4.0/example/src/main/java/io/netty/example/udt/echo/rendezvousBytes">Rendezvous byte stream Connect</a> - use <a href="http://en.wikipedia.org/wiki/UDP-based_Data_Transfer_Protocol">UDT</a> in symmetric peer-to-peer byte stream rendezvous connect mode</li>
        </ul>
        </div>

        <div class="tab-pane" id="wiki-example-5">
        <h3 id="wiki-h3-15">
        <a name="examples-for-version-5x" class="anchor" href="#examples-for-version-5x"><span class="octicon octicon-link"></span></a>Examples for version 5.x</h3>
        <h4 id="wiki-h4-16">
        <a name="fundamental-2" class="anchor" href="#fundamental-2"><span class="octicon octicon-link"></span></a>Fundamental</h4>
        <ul>
        <li>
        <a href="https://github.com/netty/netty/tree/master/example/src/main/java/io/netty/example/echo">Echo</a> - the very basic client and server</li>
        <li>
        <a href="https://github.com/netty/netty/tree/master/example/src/main/java/io/netty/example/discard">Discard</a> - prevent <tt>OutOfMemoryError</tt> which is caused by writing too fast</li>
        <li>
        <a href="https://github.com/netty/netty/tree/master/example/src/main/java/io/netty/example/uptime">UpTime</a> - implement reliable client-side reconnection</li>
        </ul>
        <h4 id="wiki-h4-17">
        <a name="text-protocols-2" class="anchor" href="#text-protocols-2"><span class="octicon octicon-link"></span></a>Text protocols</h4>
        <ul>
        <li>
        <a href="https://github.com/netty/netty/tree/master/example/src/main/java/io/netty/example/telnet">Telnet</a> - a classic line-based network application</li>
        <li>
        <a href="https://github.com/netty/netty/tree/master/example/src/main/java/io/netty/example/qotm">Quote</a> of the Moment - broadcast UDP/IP client and server</li>
        <li>
        <a href="https://github.com/netty/netty/tree/master/example/src/main/java/io/netty/example/securechat">SecureChat</a> - an SSL-based chat server derived from the Telnet example</li>
        </ul>
        <h4 id="wiki-h4-18">
        <a name="binary-protocols-2" class="anchor" href="#binary-protocols-2"><span class="octicon octicon-link"></span></a>Binary protocols</h4>
        <ul>
        <li>
        <a href="https://github.com/netty/netty/tree/master/example/src/main/java/io/netty/example/objectecho">ObjectEcho</a> - exchange serializable Java objects</li>
        <li>
        <a href="https://github.com/netty/netty/tree/master/example/src/main/java/io/netty/example/factorial">Factorial</a> - write a stateful client / server based on custom binary protocol</li>
        <li>
        <a href="https://github.com/netty/netty/tree/master/example/src/main/java/io/netty/example/worldclock">WorldClock</a> - rapid protocol prototyping with Google Protocol Buffers integration</li>
        </ul>
        <h4 id="wiki-h4-19">
        <a name="http-2" class="anchor" href="#http-2"><span class="octicon octicon-link"></span></a>HTTP</h4>
        <ul>
        <li>
        <a href="https://github.com/netty/netty/tree/master/example/src/main/java/io/netty/example/http/snoop">HTTP (Snoop)</a> - build your own extremely light-weight HTTP client and server</li>
        <li>
        <a href="https://github.com/netty/netty/tree/master/example/src/main/java/io/netty/example/http/file">HTTP (File Server)</a> - asynchronous large file streaming in HTTP</li>
        <li>Web Socket <a href="https://github.com/netty/netty/tree/master/example/src/main/java/io/netty/example/http/websocketx/client">Client</a> &amp; <a href="https://github.com/netty/netty/tree/master/example/src/main/java/io/netty/example/http/websocketx/server">Server</a> - add two-way full-duplex communication channels to HTTP using Web Sockets protocol</li>
        </ul>
        <h4 id="wiki-h4-20">
        <a name="advanced-2" class="anchor" href="#advanced-2"><span class="octicon octicon-link"></span></a>Advanced</h4>
        <ul>
        <li>
        <a href="https://github.com/netty/netty/tree/master/example/src/main/java/io/netty/example/proxy">Proxy Server</a> - write a highly efficient NIO proxy server</li>
        <li>
        <a href="https://github.com/netty/netty/tree/master/example/src/main/java/io/netty/example/portunification">Port Unification</a> - run heterogeneous services listening on a single port</li>
        </ul>
        <h4 id="wiki-h4-21">
        <a name="udt-1" class="anchor" href="#udt-1"><span class="octicon octicon-link"></span></a><abbr title="UDP-based Data Transfer Protocol" class="initialism">UDT</abbr>
        </h4>
        <ul>
        <li>
        <a href="https://github.com/netty/netty/tree/master/example/src/main/java/io/netty/example/udt/echo/bytes">Byte Streams</a> - use <a href="http://en.wikipedia.org/wiki/UDP-based_Data_Transfer_Protocol">UDT</a> in TCP-like bytes streaming mode</li>
        <li>
        <a href="https://github.com/netty/netty/tree/master/example/src/main/java/io/netty/example/udt/echo/message">Message Flows</a> - use <a href="http://en.wikipedia.org/wiki/UDP-based_Data_Transfer_Protocol">UDT</a> in UDP-like guaranteed message delivery mode</li>
        <li>
        <a href="https://github.com/netty/netty/tree/master/example/src/main/java/io/netty/example/udt/echo/rendevous">Rendezvous message flow Connect</a> - use <a href="http://en.wikipedia.org/wiki/UDP-based_Data_Transfer_Protocol">UDT</a> in symmetric peer-to-peer message flow rendezvous connect mode</li>
        <li>
        <a href="https://github.com/netty/netty/tree/master/example/src/main/java/io/netty/example/udt/echo/rendezvousBytes">Rendezvous byte stream Connect</a> - use <a href="http://en.wikipedia.org/wiki/UDP-based_Data_Transfer_Protocol">UDT</a> in symmetric peer-to-peer byte stream rendezvous connect mode</li>
        </ul>
        </div>
        </div>
        </div>
        </div></div>

  .col-md-3
    = site.default_sidebar
