---
layout: base
title: Thank you for your donation!
---
.container
  .row
    .col-md-9
      #main-content
        %h1 Thank you!

        %p
          The Netty project could not exist without the generous support from the community.
          We'd like to thank our sponsors here.
          
        %div.alert.alert-info
          If you are interested in donating to us, please <a href="mailto:t@motd.kr">e-mail Trustin</a>.

        %div.table-responsive
          %table.table.table-hover
            %tr
              %td{ :nowrap=>true }
                Nov 2014 ~
              %td.sponsor-logo
                %a{ :href=>'http://www.clinkerhq.com' }
                  %img{ :src=>'logo-clinker.png', :width=>'200', :height=>'55', :alt=>'Clinker' }
              %td
                %p <a href="http://www.clinkerhq.com/">Clinker</a> provides high-quality one-stop solution for software development ecosystem.  <a href="http://clinker.netty.io/jenkins/">Our build server</a> and <a href="http://clinker.netty.io/sonar/">static analysis server</a> are donated and powered by Clinker, and we are very happy with their superb support and flexibility.
            %tr
              %td{ :nowrap=>true }
                Oct 2011 ~
              %td.sponsor-logo
                %a{ :href=>'http://www.jetbrains.com' }
                  %img{ :src=>'logo-jetbrains.png', :width=>'200', :height=>'65', :alt=>'JetBrains s.r.o.' }
              %td
                %p <a href="http://www.jetbrains.com/idea/">InterlliJ IDEA Ultimate Edition</a> is a Java IDE that the core Netty developers use every day.
            %tr
              %td{ :nowrap=>true }
                May 2012 ~
              %td.sponsor-logo
                %a{ :href=>'http://www.yourkit.com/' }
                  %img{ :src=>'logo-yourkit.png', :width=>'209', :height=>'60', :alt=>'YourKit, LLC' }
              %td
                %p <a href="http://www.yourkit.com/">YourKit, LLC</a> is the creator of innovative and intelligent tools for profiling Java and .NET applications. Take a look at YourKit's leading software products: <a href="http://www.yourkit.com/java/profiler/index.jsp">YourKit Java Profiler</a> and <a href="http://www.yourkit.com/.net/profiler/index.jsp">YourKit .NET Profiler</a>.

        %h2 Past donations

        %div.table-responsive
          %table.table.table-hover
            %tr
              %td{ :nowrap=>true }
                Oct 2013
              %td.sponsor-logo
                %a{ :href=>'http://www.spigotmc.org/' }
                  %img{ :src=>'logo-spigotmc.png', :width=>'179', :height=>'65', :alt=>'SpigotMC.org' }
              %td
                %p <a href="http://www.spigotmc.org/">SpigotMC community</a>, the home of the high-performance Minecraft server, kindly shared the donation they received with us.
            %tr
              %td{ :nowrap=>true }
                June 2013 ~ <br/> May 2014
              %td.sponsor-logo
                %a{ :href=>'https://engineering.twitter.com/' }
                  %img{ :src=>'logo-twitter.png', :alt=>'Twitter, Inc.' }
              %td
                %p <a href="https://engineering.twitter.com/">The engineers at Twitter</a> builds the world's first real-time distributed public platform connecting people to their interests, events, and each other. Twitter donated the hosting cost of our CI server for 12 months. 

    .col-md-3
      = site.default_sidebar

